.container {
  display: flex;
  gap: 2vw;
  flex-wrap: wrap;
  padding-left: 1rem;
  height: 10%;
}

.card {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 1rem;
  width: fit-content;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

:global(html.light) .card {
  border: 1px solid rgba(37, 36, 36, 0.2);
}

.title {
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 1rem;
}

:global(html.light) .title {
  color: #000000;
}

.eg {
  color: white;
}

.itemsRow {
  display: flex;
  justify-content: space-evenly;
  gap: 1vw;
  flex-wrap: wrap;
}

.itemBox {
  text-align: center;
  height: 12vh;
  width: 10vw;
}

.label {
  font-size: 1rem;
  font-weight: 500;
  color: #a3a3a3;
}

:global(html.light) .label {
  color: #717070;
}

.value {
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
}

:global(html.light) .value {
  color: #030303;
}

.divider {
  width: 1px;
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.3);
  align-self: center;
}

:global(html.light) .divider {
  background-color: rgba(88, 88, 88, 0.3);
}

.nocontainer {
  display: none;
}

@media screen and (max-width: 615) {
  .container {
    display: none;
  }

  .nocontainer {
    margin-top: 4vw;
    display: flex;
    gap: 10px;
    justify-content: center;

  }

  .nocard {
    background: #1e1e1e;
    color: white;
    border: 2px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    width: 25vw;
    height: 7vh;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }

  :global(html.light) .nocard {
    background: transparent;
  }

  .nocard:hover {
    transform: scale(1.05);
  }

  .icon {
    font-size: 1rem;
    margin-left: 1vw;
    z-index: 1;
  }

  .item p {
    margin: 0;
    font-size: 0.6rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
  }

  .content p {
    font-size: 0.8rem;
    font-weight: 500;

  }

  :global(html.light) .item p {
    color: #000000;
  }
 :global(html.light) .content p {
    color: #000000;
  }
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    gap: 10vw;
  }

  .data {
    display: flex;
    flex-direction: column;

  }

}