.headline {
    display: flex;
    flex-direction: row;
    font-size: 3vh;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;

}

.confirm {
    display: flex;
    padding-top: 1rem;
    justify-content: right;
    align-items: center;
    gap: 5px;
    font-size: 2.2vh;
    font-weight: 400;
    color: rgb(208, 208, 208);
    width: 95%;
}

:global(html.light) .confirm {
    color: #2c2b2b;
}

.foldericon {
    width: 2.5vw;
    color: rgb(255, 255, 255);
}

.clientdetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cardselect,
.card {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    width: inherit;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-top: 1rem;
}

.channel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardselect {
    width: 60%;
}

.infocard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formControl {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 8px;
    width: 100%;
}

.formControl label {
    font-size: 1.8vh;
    color: rgb(142, 141, 141);
    align-items: center;
    padding-left: 0.5rem;
    padding-bottom: 2px;
    display: flex;
    gap: 7px;
}

:global(html.light) .formControl label {
    color: rgb(70, 69, 69);
}

.formControl select {
    padding: 0.7rem;
    font-size: 1vw;
    color: #fff;
    border-radius: 8px;
    background-color: #151414f5;
    border: 1px solid #444444f5;
}

.formControl select:-webkit-autofill,
.formControl select:-webkit-autofill:hover,
.formControl select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #151414f5 inset !important; 
  -webkit-text-fill-color: #fff !important; 
  transition: background-color 5000s ease-in-out 0s;
}

:global(html.light) .formControl select {
  color: #201f1f;
  border: 2px solid #927fbff5;
  background-color: transparent;
}

:global(html.light) .formControl select:-webkit-autofill,
:global(html.light) .formControl select:-webkit-autofill:hover,
:global(html.light) .formControl select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; 
  -webkit-text-fill-color: #201f1f !important; 
  transition: background-color 5000s ease-in-out 0s;
}
.formControl input {
    padding: 0.7rem;
    font-size: 1vw;
    color: #fff;
    border: 1px solid #444444f5;
    background-color: transparent;
    border-radius: 8px;
}

.formControl input:-webkit-autofill,
.formControl input:-webkit-autofill:hover,
.formControl input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}


:global(html.light) .formControl input {
  color: #201f1f;
  border: 2px solid #927fbff5;
}

:global(html.light) .formControl input:-webkit-autofill,
:global(html.light) .formControl input:-webkit-autofill:hover,
:global(html.light) .formControl input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #201f1f !important;
  transition: background-color 5000s ease-in-out 0s;
    border: 2px solid #927fbff5 !important;

}

.formControl input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #000000f5 inset !important;
  -webkit-text-fill-color: #fff !important;
  font-size: 1vw !important;
  border: 2px solid #19191af5 !important;
  border-radius: 8px !important;
}

/* Phone input specific styles */
.phoneInput {
    /* Disable number input spinners */
    -moz-appearance: textfield;
}

.phoneInput::-webkit-outer-spin-button,
.phoneInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Prevent wheel events on phone inputs */
.phoneInput {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.phoneInput:focus {
    outline: 2px solid #68a7e5f5;
    outline-offset: 2px;
}

.phoneInput::placeholder {
    color: #666;
    font-size: 12px;
}

.formControl input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #000000f5 inset !important;
    -webkit-text-fill-color: #fff !important;
    font-size: 1vw !important;
    border: 1px solid #444444f5 !important;
    border-radius: 8px !important;
}

.formControl textarea {
    color: #fff;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #444444f5;
    padding: 0.5rem;
}

:global(html.light) .formControl textarea {
    color: #201f1f;
    border: 2px solid #927fbff5;

}

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
    margin-left: 12px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    transition: 0.4s;
    border-radius: 34px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: yellow;
    border-radius: 50%;
    transition: 0.4s;
}

.switch input:checked+.slider {
    background-color: #f7ff99;
}

.switch input:checked+.slider::before {
    transform: translateX(24px);
}

.buttoncontainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 1rem;
}

.cancelbtn,
.submitbtn {
    padding: 7px 40px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cancelbtn {
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ccc;
}

:global(html.light) .cancelbtn {
    background-color: orange;
    color: white;
    border: 1px solid #ccc;
}

.cancelbtn:hover {
    background-color: #e0e0e0;
}

.submitbtn {
    background-color: #4caf50;
    color: white;
}

.submitbtn:hover {
    background-color: #45a049;
}

.container {
    width: inherit;
    display: flex;
    flex-direction: row;
    padding: 0rem 0.5rem;
    justify-content: center;
}

.costcontainer,
.maincontainer {
    width: 80%;
    padding: 2rem;
    border-right: 1px solid #252525f5;
    border-left: 1px solid #252525f5;
    overflow-y: auto;
}

.costcontainer {
    width: 70%;
}

:global(html.light) .maincontainer {
    border-right: 1px solid #5d60cbf5;
    border-left: 1px solid #5d60cbf5;
}

:global(html.light) .costcontainer {
    border-right: 1px solid #5d60cbf5;
    border-left: 1px solid #5d60cbf5;
}

.textcontainer {
    display: flex;
    width: 100%;
}

.cpheadline,
.mainlable {
    font-size: 2.2vh;
    font-weight: 400;
    color: rgb(95, 65, 217);
    padding-left: 2.5rem;
}

.iconcolor {
    color: yellow;
}

:global(html.light) .iconcolor {
    color: #7341e7;
}

.cpheadline {
    margin-top: 1.5rem;

}

.costcontainer::-webkit-scrollbar,
.maincontainer::-webkit-scrollbar {
    width: 0.5vw;
}

.costcontainer::-webkit-scrollbar-track,
.maincontainer::-webkit-scrollbar-track {
    background: transparent;
}

.costcontainer::-webkit-scrollbar-thumb,
.maincontainer::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
}

.costcontainer::-webkit-scrollbar-thumb:hover,
.maincontainer::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

.detailSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4vw;
    border-radius: 8px;
    height: 100%;
    width: 20%;
}

.detailSection img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.errorMsg {
    color: #ff4d4f;
    font-size: 0.8rem;
    margin-top: 4px;
}


@media screen and (max-width: 850px) {
    .card {
        flex-direction: row;
        gap: 1vh;
        padding-top: 1vh;
        width: 95%;
    }

    :global(html.light) .maincontainer {
        border-right: none;
        border-left: none;
    }

    :global(html.light) .costcontainer {
        border-right: none;
        border-left: none;
    }

    .formControl {
        width: 100%;
    }

    .formControl input,
    .formControl select {
        width: 100%;
        box-sizing: border-box;
    }

    .costcontainer,
    .maincontainer {
        width: 100%;
        overflow-y: auto;
        padding: 0rem 0rem;
        border-right: none;
    }

    .formControl label {
        font-size: 1.8vh;
        top: -10px;
        padding-bottom: 0px;

    }

    .formControl select {
        height: 7vh;
        font-size: 2.1vh;
    }

    .formControl input {
        height: 6vh;
        font-size: 2.1vh;
        border-radius: 5px;
    }

    .switch {
        width: 55px;
        height: 3.5vh;
    }

    .slider::before {
        height: 2.8vh;
        width: 2.8vh;
    }

    .switch input:checked+.slider::before {
        transform: translateX(4vw);
    }

    .buttoncontainer {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 1rem;
    }

    .cancelbtn,
    .submitbtn {
        padding: 7px 34px;
        font-size: 14px;
    }

    .detailSection {
        display: none;
    }

    .costcontainer,
    .maincontainer {
        width: 100%;
        overflow-y: auto;
        padding: 0rem 0rem;
        border-right: none;
    }

    .headline {
        font-size: 2.5vh;
        font-weight: 400;
        padding-top: 1rem;
    }

    .cpheadline,
    .mainlable {
        font-size: 2vh;
        font-weight: 400;
        padding-left: 0rem;
    }

    .cpheadline {
        margin-top: 1rem;
    }

    .detailSection {
        display: none;
    }

    .costcontainer,
    .maincontainer {
        width: 100%;
        overflow-y: auto;
        padding: 0rem 0rem;
        border-right: none;
        border-left: none;
    }
}

@media screen and (max-width: 500px) {
    .card {
        flex-direction: column;

    }

}