.contactUs {
      position: relative;
    overflow: hidden;

  height: fit-content;
  color: rgb(175, 174, 174);
  background-color: rgb(15, 15, 15, 0.1);
}
 .contactUs::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
  }
:global(html.light) .contactUs{
    background-color: #fffdf8;
}

 :global(html.dark) .goldenOverlay {
    background-color: rgba(12, 12, 12, 0.3);
  }
  .goldenOverlay,
.sparkles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* <-- Prevent blocking interactions */
  z-index: 0; /* Keep them behind content */
}

.mainFooter,
.socialSection,
.copyRightSection {
  position: relative;
  z-index: 2; /* Bring clickable items above overlays */
}
.sparkles::before,
  .sparkles::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #c49b66;
    /* rich gold */
    filter: drop-shadow(0 0 4px #c49b66);
    animation: twinkle 3s ease-in-out infinite;
    opacity: 0.9;
  }
.sparkles::before, .sparkles::after { position: absolute; }

  .sparkles::before {
    box-shadow: 5vw 10vh #c49b66, 10vw 30vh #c49b66, 15vw 50vh #c49b66,
      20vw 70vh #c49b66, 25vw 20vh #c49b66, 30vw 60vh #c49b66, 35vw 15vh #c49b66,
      40vw 80vh #c49b66, 45vw 25vh #c49b66, 50vw 50vh #c49b66;
  }

  .sparkles::after {
    animation-delay: 1.5s;
    box-shadow: 55vw 10vh #c49b66, 60vw 75vh #c49b66, 65vw 35vh #c49b66,
      70vw 20vh #c49b66, 75vw 60vh #c49b66, 80vw 30vh #c49b66, 85vw 90vh #c49b66,
      90vw 40vh #c49b66, 95vw 70vh #c49b66, 100vw 50vh #c49b66;
  }
   @keyframes twinkle {
    0% {
      transform: scale(1);
      opacity: 0.4;
    }

    100% {
      transform: scale(1.5);
      opacity: 1;
    }
  }

.contactUsSection,
.footerSection,
.projectSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.mainFooter,
.footerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 2rem;
}
.footerSection {
    padding: 2rem 0;

}
.lineWithLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;

}
.leftLine,
.rightLine {
  flex: 1;
  height: 1px;
  background: linear-gradient(to left, #aaa, transparent);
  max-width: 20vw;
}
:global(html.light) .leftLine{
    height: 2px;
    background: linear-gradient(to left, #c49b66, transparent);
}
.rightLine {
    height: 2px;  
  background: linear-gradient(to right, #aaa, transparent);
}
:global(html.light) .rightLine{
    background: linear-gradient(to right, #c49b66, transparent);

}

.designWrapper {
  position: relative;
  height: 6vh;
  width: 30vw;
}

.mainFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: start;     
  flex-wrap: wrap;
  max-width: 1250px;
  margin: 0 auto;
  text-align: start; 
}


.quicklinks,
.addressSection2,
.addressSection,
.projectsName {
   flex: 1; 
  min-width: 300px; 
  max-width: 500px;
  font-size: 1rem;
  line-height: 2.2rem;
  font-family: "Funnel Display", sans-serif;
  cursor: pointer;
  color: #d1d1d1;
  padding-left: 5rem;
  margin-top: 0.5rem;
  
}
.addressSection{
     flex: 2; 
line-height: 1.8rem;
}
.quicklinks:not(:last-child),
.addressSection:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  height: 25vh;
}
:global(html.light) .quicklinks:not(:last-child){
  border-right: 2px solid #c49b66;
}
:global(html.light) .addressSection:not(:last-child){
  border-right: 2px solid #c49b66;
}
:global(html.light) .quicklinks,
:global(html.light) .addressSection,
:global(html.light) .projectsName {
  color: #4a4a4a;
}

.head2,
.head {
  font-size: 1.5rem;
  color: #c49b66;
  padding-bottom: 2vh;
}
:global(html.light) .head {
  color: #222;
}
.head2 {
  color: #6e6e6e;
}
.linkItem {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  justify-content: start; 
  cursor: pointer;
  transition: color 0.3s;
}

.linkItem:hover {
  color: #c49b66;
}
.icon{
  color: #c49b66;
}
.logoWrapper {
  position: relative;
  width: 14vw;
  height: 5vh;
}
.projectname {
  display: flex;
  flex-direction: column;
 align-items: start;
  
}

.projectname a {
 
  font-size: 1.1rem;
  text-decoration: none;
  font-family: "Funnel Display", sans-serif;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
  text-align: center; 
}


.projectname a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #c49b66;
  color: #c49b66;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.projectname a:hover {
  color: #c49b66; 
}

.projectname a:hover::after {
  width: 90%; 
}
.socialSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin: 1rem 0;
  padding-top: 1rem;
}

.socialIcons {
  display: flex;
  gap: 1rem;
}

.iconCircle {
  width: 40px;
  height: 40px;
  border: 1.5px solid #c49b66;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
:global(html.light) .iconCircle{
    border: 2px solid #c49b66;

}

.iconCircle:hover {
  transform: scale(1.3); 
}

.iconCircle:hover img {
   transform: scale(1); 
}
.copyRightSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 0 2rem 0;
}

.copyRightText {
  font-size: 0.9rem;
  color: #aaa;
  text-align: center;
}
:global(html.light) .copyRightText{
 color: #4a4a4a;}
.copyRightText a {
  color: #c49b66;
  text-decoration: none;
  margin-left: 4px;
}
:global(html.light) .copyRightText a{
  color: #cc954d;
}

.copyRightText a:hover {
  text-decoration: underline;
}
/* @media screen and (max-width: 600px) {
  .logoWrapper {
  position: relative;
  width: 40vw;
  height: 5vh;
}
.quicklinks,
.addressSection2,
.addressSection,
.projectsName {
  padding-left: 2rem;
}

.linkItem{
  font-size: 16px;
}
.addressSection {
  font-size: 0.9rem;

  
}
}
@media screen and (min-width: 700px) and (max-width:1000px) {
.quicklinks,
.addressSection2,
.addressSection,
.projectsName {
  padding-left: 1rem;
}
.projectsName,
.quicklinks{
  max-width: 200px;
  min-width: 100px;
}
.addressSection{
    max-width: 
    400px;
  min-width: 250px;
}
}


 */

 @media (min-width: 768px) and (max-width: 1024px) {
  .mainFooter {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    gap: 2rem;
    padding: 3rem 2rem;
  }

  .quicklinks,
  .addressSection,
  .projectsName {
    min-width: 30%;
    max-width: 35%;
    text-align: left;
        padding-right: 1rem;
    padding-left: 1rem;

  }

  .logoWrapper {
    width: 140px;
    height: 40px;
    margin: 0;
  }

  .head {
    font-size: 1.3rem;
  }

  .projectname a {
    font-size: 1.05rem;
  }
}

@media (min-width: 1024px) {
  .mainFooter {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 3rem;
    max-width: 1250px;
    margin: 0 auto;
    padding: 3rem 0;
    text-align: start;
  }

  .quicklinks,
  .addressSection,
  .projectsName {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    padding-left: 4rem;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  .projectsName{
    border-right: 0px solid rgba(255, 255, 255, 0.2);
  }

  :global(html.light) .quicklinks,
  :global(html.light) .addressSection {
    border-right: 2px solid #c49b66;
  }

  .addressSection {
    flex: 2;
    line-height: 1.8rem;
  }

  .logoWrapper {
  width: 140px;
    height: 40px;
  }

  .head {
    font-size: 1.5rem;
  }
}
@media (max-width: 800px) {
    .logoWrapper {
    width: 140px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .designWrapper {
  width: 60vw;
}
  .head {
    font-size: 1rem;
  }
.quicklinks,
  .addressSection,
  .projectsName {

    padding-left: 2rem;
    padding-right: 2rem;

  }
  .logoWrapper {
    width: 140px;
    height: 40px;
  }

  .iconCircle {
    width: 30px;
    height: 30px;
  }

  .copyRightText {
    font-size: 0.75rem;
  }
}