.gallery {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1vh;
  color: rgb(175, 174, 174);
  font-family: Poppins, sans-serif;
}

.galleryGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: center;
  padding: 5vh 0;
}

.galleryCard {
  border-radius: 8px;
  overflow: hidden;
  width: 17vw;
  transition: transform 0.3s ease;
  cursor: pointer;
  border: 1px solid #c49b66;
}

.galleryCard:hover {
  transform: translateY(-5px);
  background-color: #c49b66;
}

.galleryCard h3:hover {
  color: black;
}

.galleryCardInfo {
  padding: 2vh 1vh;
  text-align: center;
}

.galleryCardInfo h3 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #d6d2d2;
  
}

.selectedCard {
  background-color: #c49b66;
}

.selectedCard h3 {
  color: black;
  
}

.mainGallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1vw;
  width: 70vw;
  margin-top: 2vh;
}

.galleryImageBox {
  width: 13vw;
  height: 24vh;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.galleryImage {
  object-fit: cover;
}

.imageText {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  text-align: center;
font-family: Poppins, sans-serif;    color: rgb(175, 174, 174);
letter-spacing: 1px;
}
