.gallery {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1vh;
  color: rgb(175, 174, 174);
  font-family: Poppins, sans-serif;
}
:global(html.light) .heading{
  color: #575757;
}

.galleryGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: center;
  padding: 5vh 0;
}

.galleryCard {
  border-radius: 8px;
  overflow: hidden;
  width: 17vw;
  transition: transform 0.3s ease;
  cursor: pointer;
  border: 1px solid #c49b66;
}
:global(html.light) .galleryCard{
  border: 1px solid #CAA036;
}


.galleryCard:hover {
  transform: translateY(-5px);
  background-color: #c49b66;
}

.galleryCard h3:hover {
  color: black;
}

.galleryCardInfo {
  padding: 2vh 1vh;
  text-align: center;
}

.galleryCardInfo h3 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #d6d2d2;
  
}
:global(html.light) .galleryCardInfo h3{
  color: #323232;
}


.selectedCard {
  background-color: #c49b66;
}

.selectedCard h3 {
  color: black;
  
}

.mainGallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1vw;
  width: 70vw;
  margin-top: 2vh;
}

.galleryImageBox {
  width: 13vw;
  height: 24vh;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.galleryImage {
  object-fit: cover;
}

.imageText {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  text-align: center;
font-family: Poppins, sans-serif;    color: rgb(175, 174, 174);
letter-spacing: 1px;
}

:global(html.light) .imageText{
  color: #323232;
}

@media screen and (max-width: 1024px) {
  .galleryCard {
    width: 30vw;
  }
  .galleryImageBox {
    width: 30vw;
    height: 22vh;
  }
  .mainGallery {
    width: 90vw;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 1.6rem;
  }
 
  .galleryCardInfo h3 {
    font-size: 1rem;
  }
  .imageText {
    font-size: 0.75rem;
  }
   .gallery {
  padding-top: 2vh;
}
 .galleryGrid {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;                    
    justify-content: flex-start;     
    gap: 3vw;
    padding: 2vh 1vw;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
        border-bottom: 1px solid #c49b66;
       
  }

  .galleryGrid::-webkit-scrollbar {
    display: none;
  }

  .galleryCard {
    flex: 0 0 auto;   
    width: 35vw;     
    border-radius: 30px;
    scroll-snap-align: start;
  }

  .mainGallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3vw;
    width: 95vw;
    padding-top: 20px;
  }
  .galleryImageBox {
    width: 100%;
    height: 18vh;
  }
  .galleryCardInfo  {
    padding: 1.5vh 1vh;

  }
}

@media screen and (max-width: 480px) {
   .galleryGrid {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    justify-content: flex-start;
    gap: 4vw;
    padding: 2vh 2vw;
    border-bottom: 1px solid #c49b66;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
  }

  .galleryGrid::-webkit-scrollbar {
    display: none;
  }

  .galleryCard {
    flex: 0 0 auto;
    width: 50vw; 
    border-radius: 30px;
    scroll-snap-align: start;
  }


  .mainGallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 4vw;
    width: 95vw;
        padding-top: 20px;

  }
  .galleryImageBox {
    height: 16vh;
  }
  .heading {
    font-size: 1.4rem;
  }
  .galleryCardInfo h3 {
    font-size: 0.9rem;
   
  }
  .imageText {
    font-size: 0.7rem;
  }
  .gallery {
  padding-top: 1vh;
}
 .galleryCardInfo  {
    font-size: 0.9rem;
    padding: 1vh 1vh;

  }
  .galleryCard:hover {
  transform: translateY(-0px);
  
}


}
