@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.sliderWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}


.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.763);
  top: 0;
  left: 0;
  z-index: 1;
}

.hesding {
  position: absolute;
  z-index: 2;
  left: 5%;
  top: 13%;
  width: 70%;
  animation: slideUp 0.8s ease-out forwards;

}

@keyframes slideUp {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.hesding p {
  font-family: "Merriweather", serif;
  color: #feeed8;
  text-align: left;
  line-height: 110px;
  font-size: 6vw;
  font-weight: 500;
  margin-bottom: 34px;
  letter-spacing: 5px;
  text-transform: uppercase;

}


.btnWrapper {
  margin-top: 10px;
}

.readMoreBtn {
  position: relative;
  padding: 10px 40px;
  border: 2px solid #c49b66;
  border-radius: 50px;
  background: transparent;
  color: #c49b66;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  animation: slideUp 0.8s ease-out forwards;

}

.arrow {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.readMoreBtn:hover .arrow {
  transform: translateX(5px);
}

.readMoreBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 20%;
  height: 100%;
  background: linear-gradient(120deg,
      transparent,
      rgba(255, 255, 255, 0.234),
      transparent);
  transform: skewX(-20deg);
  animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  0% {
    left: -75%;
  }

  100% {
    left: 125%;
  }
}

.hero {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  width: 100%;
  text-align: center;
  color: white;
  z-index: 2;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  height: 25%;
}

.heroContainer {
  position: absolute;
  right: 7%;
  width: 55%;
  height: 95%;
  background: rgba(125, 130, 132, 0.3);
  -webkit-backdrop-filter: blur(17.7px);
  backdrop-filter: blur(17.7px);
  border-radius: 30px;
}

.abouttag {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background: rgba(39, 36, 36, 0.901);
  -webkit-backdrop-filter: blur(19.2px);
  backdrop-filter: blur(19.2px);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rotateCircle 10s linear infinite;
  /* pura circle rotate karega */
  overflow: visible;
}

.circleText {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleText span {
  position: absolute;
  top: 30%;
  font-size: 13px;
  color: black;
  /* text ka color */
}
.circleText img{
  width: 70px;
  height: 50px;
}

.heroContainer p {

  padding: 3% 15% 0% 20%;
  font-size: 1.1vw;
  line-height: 25px;
  font-weight: 400;
  text-align: justify;
  animation: leftSlide 0.8s ease-out forwards;
  color: #ffffff;

}

@keyframes leftSlide {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.minislider {
  position: absolute;
  bottom: 9%;
  left: 27%;
  transform: translateX(-50%);
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  z-index: 3;
}

.miniWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  transition: transform 0.5s ease;
  width: 100%;
}

.slidercontainer {

  width: 37%;
  background: rgba(39, 36, 36, 0.901);
  backdrop-filter: blur(13px);
  border-radius: 20px;
  padding: 7px 10px;
  transition: all 0.5s ease;
  position: relative;
  border: 3px solid #c49b66;

}

.sideMini {
  transform: scale(0.8);
  opacity: 0.8;
  width: 40%;
}


.slidercontant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.slidercontant img {
  height: 90px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.navBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #c49b66;
  backdrop-filter: blur(13px);
  border: none;
  font-size: 20px;
  padding: 8px 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  z-index: 5;
  color: black;
}

.navLeft {
  left: 2px;
}

.navRight {
  right: 2px;
}

.navBtn:hover {
  background: rgba(255, 255, 255, 0.8);
}

.slidercontant p {
  font-size: 12px;
  font-weight: 500;
  color: #c49b66;
  text-align: center;
  display: block;
  margin-bottom: 12px;
}

@media (max-width: 1000px) {
.heroContainer p {
  font-size: 1.3vw;
  line-height: 21px;
    padding: 5% 15% 0% 20%;

}
.hesding {
    width: 80%;
    left: 10%;
    top: 10%;
  }
  .abouttag {
  height: 100px;
  width: 100px;
}
.circleText img{
  width: 60px;
  height: 40px;
}
 .minislider {
    bottom: 8%;
  }
  .btnWrapper {
  margin-top: 0px;
}
}

@media (max-width: 768px) {
  .hesding {
    width: 80%;
    left: 10%;
    top: 15%;
  }

  .hesding p {
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    margin-bottom: 20px;
  }

  .btnWrapper {
    text-align: center;
  }

  .readMoreBtn {
    padding: 8px 20px;
    font-size: 14px;
  }

   .hero {
  display: none;


  }

  
  .minislider {
    width: 80%;
    left: 50%;
    bottom: 4%;
  }

  .slidercontainer {
    width: 50%;
    padding: 5px;
  }

  .slidercontant img {
    height: 70px;
  }

  .slidercontant p {
    font-size: 10px;
  }

  .navBtn {
    padding: 5px 5px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.hesding {
 
  top: 30%;


}
  .hesding p {
    font-size: 25px;
    line-height: 35px;
  }

  .readMoreBtn {
    padding: 5px 20px;
    font-size: 14px;
  }
.arrow {
  font-size: 20px;
  font-weight: 700;
}
  .heroContainer {
    width: 95%;
    border-radius: 10px;
  }

  .heroContainer p {
    font-size: 12px;
    line-height: 18px;
  }

  .minislider {
    width: 90%;
    bottom: 15%;
  }

  .slidercontainer {
    width: 60%;
    
  }

  .slidercontant img {
    height: 60px;
  }

}
