@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

.projectscontainer {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* Full Background Image */
/* Background Image Zoom */
.fullBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.zoomAnimation {
  animation: zoomIn 6s ease-in-out forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

/* Circle Progress */
.progressRing {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
}

.progressCircle {
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-dasharray: 113;
  stroke-dashoffset: 113;
  animation: drawCircle 3s linear forwards;
}

@keyframes drawCircle {
  from {
    stroke-dashoffset: 113;
  }

  to {
    stroke-dashoffset: 0;
  }
}


.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.729);
  top: 0;
  left: 0;
  z-index: 2;
}

/* Content Container */
.container {
  position: relative;
  z-index: 3;
  display: flex;
  width: 100%;
  height: 100%;
}

/* Left Side */
.leftSide {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
}

.line {
  content: '';
  position: absolute;
  top: 0;
  left: 49%;
  width: 50%;
  height: 100%;
  background: #c49b66;
  clip-path: polygon(71% 0, 100% 0, 100% 100%, 41% 100%);
}

.rightSide {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.arrowDown {
  position: absolute;
  bottom: 100px;
  left: 40%;
  cursor: pointer;
  z-index: 5;
}

.arrowDown svg {
  width: 150px;
  height: 66px;
  transform: rotate(90deg);
}

.shinecircle {
  stroke-width: 1;
  animation: shine 1.5s infinite ease-in-out;
}

@keyframes shine {
  0% {
    stroke: #c2856265;
    stroke-width: 1;
    opacity: 0.4;
  }

  50% {
    stroke: #C28562;
    stroke-width: 1;
    opacity: 1;
  }

  100% {
    stroke: #c2856265;
    stroke-width: 1;
    opacity: 0.4;
  }
}

.cutImage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  clip-path: polygon(70% 0, 100% 0, 100% 100%, 40% 100%);

}

.cutImage.active {
  opacity: 1;
}

.buttonContainer {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 5;
}

.dotBtn {
  position: relative;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}



.circle {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid #c49b66;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.dot {
  width: 7px;
  height: 7px;
  background: #c49b66;
  border-radius: 50%;
}

.progressRing {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
}

.progressCircle {
  fill: none;
  stroke: #c49b66;
  stroke-width: 2;
  stroke-dasharray: 113;
  stroke-dashoffset: 113;
  animation: drawCircle 3s linear forwards;
}

@keyframes drawCircle {
  from {
    stroke-dashoffset: 113;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.contattext {
  position: absolute;
  font-family: "Cormorant Garamond";
  left: 8%;
  top: 32%;
}

.contactmain {
  font-family: "Cormorant Garamond";
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-align: left;
  line-height: 120px;
  letter-spacing: 17px;
  font-size: 7.5vw;
  filter: none;
  opacity: 1;
  visibility: visible;
  font-weight: 300;
  
}

.contactpara {
  font-family: Raleway;
  text-transform: uppercase;
  height: auto;
  color: rgb(215, 146, 107);
  text-decoration: none;
  white-space: normal;
  width: 65vw;

  text-align: center;
  line-height: 31px;
  letter-spacing: 10px;
  font-weight: 500;
  font-size: 18px;
  padding-top: 20px;

}
@media (max-width: 375px) {
  .contactmain {
    font-size: 9vw;
    line-height: 30px;
    letter-spacing: 3px;
  }
.contattext {

  left: 4%;
  top: 30%;
}

  .contactpara {
    font-size: 12px;
    width: 80%;
    letter-spacing: 1px;
    text-align: left;
    
  }

  .buttonContainer {
    gap: 10px;
  }


  .cutImage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  clip-path: polygon(98% 0, 100% 0, 100% 100%, 0% 100%);
}
.line {
  content: '';
  position: absolute;
  top: 0;
  left: 49%;
  width: 50%;
  height: 100%;
  background: #c49b66;
  clip-path: polygon(97% 0, 100% 0, 100% 100%, 1% 100%);
}
.buttonContainer {
  top: 80%;
  left: 10px;

  gap: 5px;
}

.arrowDown {
  position: absolute;
  bottom: 30%;
  left: 20%;
  cursor: pointer;
  z-index: 5;
}

.arrowDown svg {
  width: 150px;
  height: 66px;
  transform: rotate(90deg);
}

}

@media (min-width: 375px) and (max-width: 426px) {
  .contactmain {
    font-size: 35px;
    line-height: 30px;
    letter-spacing: 3px;
  }
.contattext {

  left: 5%;
  top: 30%;
}

  .contactpara {
    font-size: 12px;
    width: 90%;
    letter-spacing: 2px;
    text-align: left;
  }

  .buttonContainer {
    gap: 10px;
  }


  .cutImage {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  clip-path: polygon(98% 0, 100% 0, 100% 100%, 0% 100%);
}
.line {
  content: '';
  position: absolute;
  top: 0;
  left: 49%;
  width: 50%;
  height: 100%;
  background: #c49b66;
  clip-path: polygon(97% 0, 100% 0, 100% 100%, 1% 100%);
}
.buttonContainer {
  top: 80%;
  left: 10px;

  gap: 5px;
}

.arrowDown {
  position: absolute;
  bottom: 40%;
  left: 20%;
  cursor: pointer;
  z-index: 5;
}

.arrowDown svg {
  width: 150px;
  height: 66px;
  transform: rotate(90deg);
}

}

@media (min-width: 426px) and (max-width: 768px) {
  .contactmain {
    font-size: 8.8vw;
    line-height: 70px;
    letter-spacing: 5px;
  }

  .contattext {
    left: 5%;
    top: 28%;
  }

  .contactpara {
    font-size: 14px;
    width: 78%;
    letter-spacing: 4px;
    text-align: center;
  }

  .buttonContainer {
    top: 70%;
    left: 20px;
    gap: 10px;
  }

  .arrowDown {
    bottom: 60px;
    left: 30%;
  }

  .cutImage {
    clip-path: polygon(85% 0, 100% 0, 100% 100%, 25% 100%);
  }

  .line {
    clip-path: polygon(85% 0, 100% 0, 100% 100%, 25% 100%);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .contactmain {
    font-size: 90px;
    line-height: 100px;
    letter-spacing: 12px;
  }
.contactmain{
  font-size: 6.5vw;
}
  .contattext {
    left: 8%;
    top: 30%;
  }

  .contactpara {
    font-size: 16px;
    width: 75%;
    letter-spacing: 5px;
    text-align: center;
  }

  .buttonContainer {
    top: 60%;
    left: 30px;
    gap: 15px;
  }

  .arrowDown {
    bottom: 80px;
    left: 35%;
  }

  .cutImage {
    clip-path: polygon(78% 0, 100% 0, 100% 100%, 35% 100%);
  }

  .line {
    clip-path: polygon(78% 0, 100% 0, 100% 100%, 35% 100%);
  }
}
