/* @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oleo+Script:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.background {
  background-image: url("/images/buildingforDescription.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.92);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-top: 1px solid rgb(56, 56, 56);
}

:global(html.light) .overlay {
  background-color: #42424270;
}

.topSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1vh 3vw;
  height: 8vh;
}

.mainSection {
  display: flex;
}

.infoSection {
  width: 18vw;
  border: 1px solid rgb(117, 116, 116);
  height: 50vh;
  margin-top: 10vh;
  padding: 2vh 0;
  border-radius: 20px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(2, 2, 2, 0.06);
}

:global(html.light) .infoSection {
  background-color: rgba(219, 219, 219, 0.358);
  border: 1px solid rgb(230, 230, 230);

}

.flatInfo {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  margin-top: 2vh;
  gap: 1.5vh;
}

.soldFlats,
.availableFlats {
  display: flex;
  width: 13vw;
  height: 8vh;
  margin: 1vh;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  color: rgb(173, 173, 173);
}

:global(html.light) .availableFlats {
  background-color: #7428ef;
  color: rgb(255, 255, 255);
  border: none;
}

:global(html.light) .soldFlats {
  background-color: #9e232d;
  color: rgb(255, 255, 255);
  border: none;
}

.clearFilter {
  color: rgb(15, 155, 202);
  cursor: pointer;
}

:global(html.light) .clearFilter {
  color: rgb(10, 92, 120);
  font-weight: 600;
}

.availableFlats {
  border: 1px solid #2a9d8f;
  background-color: rgb(41, 127, 127, 0.1);
}

.soldFlats {
  border: 1px solid #e63946;
  background-color: rgb(202, 58, 58, 0.1);
}

.availableFlats:focus {
  outline: 2px solid #2a9d8f;
  outline-offset: 2px;
}

.soldFlats:focus {
  outline: 2px solid #e63946;
  outline-offset: 2px;
}

.filterInstruction {
  font-size: 0.8rem;
  padding: 1vh 2vw;
  color: rgb(94, 94, 94);
}

:global(html.light) .filterInstruction {
  color: rgb(255, 255, 255);
}

.content {
  display: flex;
  color: rgb(213, 207, 207);
  font-size: 2rem;
  font-weight: normal;
  /* font-family: "Great Vibes", cursive; */
  font-family: "Oleo Script", system-ui;
}

:global(html.light) .content {
  font-weight: 500;
  color: rgb(254, 253, 253);
}

.inventoryBody {
  display: flex;
}

.fixedLine {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  position: relative;
  height: auto;
  z-index: 1;
  margin-bottom: 10vh;
}

.imagebuilding {
  position: relative;
  top: 0;
  transform: translateY(-10%);
  width: 5vw;
  height: auto;
  z-index: 2;
}

.imageSection {
  display: flex;
  align-items: center;
}

.towerNameStyles {
  font-size: 0.8rem;
}

:global(html.light) .towerNameStyles {
  font-size: 1rem;
  font-weight: 600;
  color: white;
}

.circleImage {
  width: 1vw;
  height: 1vw;
  object-fit: contain;
  z-index: 2;
}

.line {
  width: 1px;
  background-color: white;
  flex-grow: 1;
}

:global(html.light) .line {
  width: 2px;
  background-color: rgb(255, 255, 255);

}

.scrollArea {
  overflow-y: auto;
  margin-top: 15vh;
  scrollbar-width: none;
  max-height: 65vh;
  flex-grow: 1;
  width: fit-content;
  margin-bottom: 10vh;
}

.floorRow {
  display: flex;
  align-items: center;
  margin: 1vh 0;
}

.floorLabel {
  /* width: 1vw; */
  color: white;
  font-size: 0.7rem;
  text-align: right;
  padding-right: 2vw;
}

:global(html.light) .floorLabel {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.roomBoxContainer {
  margin-top: 3vh;
  display: flex;
  flex-wrap: wrap;
  gap: 1vh;
}

.roomBox {
  width: 4vw;
  height: 4vh;
  background-color: rgb(142, 140, 140);
  border-right: 1px solid black;
  cursor: pointer;
  border-radius: 0px 12px 0px 12px;
}

.sold {
  border: 1px solid #e63946;
  background-color: rgb(202, 58, 58, 0.1);
}

:global(html.light) .sold {
  background-color: #9e232d;
  border: none;
}

.available {
  border: 1px solid #2a9d8f;
  background-color: rgb(41, 127, 127, 0.1);
}

:global(html.light) .available {
  background-color: #7428ef;
  border: none;
}

.text {
  font-size: 0.7rem;
  color: rgb(208, 206, 206);
  display: flex;
  align-items: center;
  padding-left: 1vw;
}

:global(html.light) .text {
  color: rgb(250, 250, 250);
}

.inventoryBuildingBody {
  display: flex;
  height: 80vh;
  margin: 0vh 3vw;
  width: 80vw;
  gap: 7vw;
  align-items: flex-start;
  margin-bottom: 10vh;
}

.tower2,
.tower1 {
  width: auto;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2vw;
  margin-top: 1vh;
  border-radius: 8px;
  backdrop-filter: blur(8px);
}

.dropdown {
  padding: 1vh 1vw;
  font-size: 0.8rem;
  border-radius: 8px;
  background-color: rgb(26, 26, 26);
  color: rgb(200, 200, 200);
  outline: none;
  min-width: 220px;
  cursor: pointer;
  transition: all 0.3s ease;
}

:global(html.light) .dropdown {
  background-color: rgb(242, 242, 242);
  color: rgb(27, 26, 27);
}

.dropdown:hover {
  border-color: #666;
}

.selectOptionContainer {
  display: flex;
  gap: 0.5vw;
  flex-wrap: wrap;
}

.selectOptionContainer button {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  padding: 1.4vh 1.5vw;
  font-size: 0.8rem;
  border: none;
  border-radius: 8px;
  background-color: #0857b0;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.selectOptionContainer button:hover {
  background-color: #37516f;
}

.selectOptionContainer button:focus {
  outline: 2px solid #0070f3;
  outline-offset: 2px;
}

.dialogOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.dialogBox {
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 40vw;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-radius: 8px;
}

:global(html.light) .dialogBox {
  background-color: rgb(227, 227, 227);
}

.dialogBox2 {
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 20vw;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.headerSection,
.lastSection,
.middleSection {
  display: flex;
  justify-content: space-between;
  padding: 1vh 1vw;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
}

.middleSection {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0.5vh 1.5vw;
}

:global(html.light) .middleSection {
  border: none;
  box-shadow: 0 4px 20px #01043333;

}

.lastSection {
  border: none;
  flex-direction: column;
}

.lastDetailsSection {
  display: flex;
  margin-top: 2vh;
  justify-content: space-between;
}

.headerText {
  font-size: 1rem;
  color: rgb(231, 231, 231);
}

:global(html.light) .headerText {
  color: rgb(41, 39, 39);
}

.detailsText {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  color: rgb(153, 153, 153);
  gap: 1vh;
}
:global(html.light) .detailsText{
  color: rgb(29, 28, 28);
}
.statusContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* .detailsAvailable,
.detailsSold {
  font-size: 2vh;
  border-radius: 20px;
  height: fit-content;
  padding: 1vh 1vw;
  margin-left: 2vw;
  margin-right: 5vw;
}

.detailsSold {
  border: 1px solid #e63946;
  background-color: rgba(202, 58, 58, 0.1);
}

.detailsAvailable {
  border: 1px solid #2a9d8f;
  background-color: rgba(41, 127, 127, 0.1);
} */

.imgContainer {
  margin-left: 2vw;
  margin-top: 1vh;
}

.noteContainer {
  height: fit-content;
  width: 10vw;
  font-size: 0.8rem;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 2vh 0vw 2vh 1.5vw;
  border-radius: 10px;
  color: rgb(99, 99, 99);
}
:global(html.light) .noteContainer{
  border-left: 1px solid rgba(36, 36, 36, 0.5);
}
.noteText {
  color: red;
}

.lastText {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1.5vh;
  padding-right: 4vw;
}

.label {
  color: #cfcfcf;
  font-size: 0.8rem;
  white-space: nowrap;
  padding-right: 2vw;
}
:global(html.light) .label{
   color: #363636;
}
.value {
  color: #d3d3d3;
  font-weight: 400;
  font-size: 0.8rem;
  text-align: left;
}
:global(html.light) .value{
   color: #363636;
}
.dropdownWrapperDetails {
  margin: 1vh 0.5vw;
}

.dropdownDetails {
  padding: 1vh 1vw;
  font-size: 0.8rem;
  background-color: #161616;
  color: white;
  border: 1px solid rgba(215, 215, 215, 0.3);
  border-radius: 1px;
  width: 60%;
  cursor: pointer;
}
:global(html.light) .dropdownDetails{
  background-color: #2c64a5;
}
.okbutton {
  margin: 2vh 1vw;
  padding: 1vh 1vw;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  border: 1px solid rgb(108, 108, 108);
  background-color: rgb(30, 30, 30);
}
:global(html.light) .okbutton{
  background-color: rgb(82, 203, 80);
  border: none;
}
.okbutton:hover {
  background-color: rgb(72, 72, 72);
}

.detailIcon {
  position: relative;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 24px;
  right: 0;
  background: black;
  border: 1px solid #808080;
  z-index: 10;
  min-width: 10vw;
  font-size: 0.8rem;
}
:global(html.light) .dropdownMenu{
  background: rgb(235, 235, 235);
  border: none;
    box-shadow: 0 4px 20px #01043333;
color: black;
}
.dropdownItem {
  padding: 8px 12px;
  cursor: pointer;
  white-space: nowrap;
}

.dropdownItem:hover {
  background-color: #404040;
}

.soldDialogContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.leftText {
  flex: 1;
  font-size: 1.3rem;
  font-weight: 500;
  /* color: #e63946; */
  color: rgb(245, 243, 243);
}

:global(html.light) .leftText {
  color: rgb(33, 32, 32);
}

.rightImage {
  flex: 1;
  text-align: right;
}

.rightImage img {
  max-width: 100%;
  height: auto;
}

.contentIconWrapper {
  display: none;
}

.onlyMobile {
  display: none;
}

.mobileShow {
  display: none;
}

.mobileHide {
  display: block;
}

@media screen and (min-width: 616px) {

  .mobileShow,
  .mobileHide {
    display: block !important;
  }

  .tower1,
  .tower2 {
    width: 50%;
    float: left;
  }

  .onlyMobile {
    display: none !important;
  }
}

@media screen and (max-width: 615px) {
  .onlyMobile {
    display: block;
  }

  .mobileShow {
    display: block !important;
  }

  .mobileHide {
    display: none !important;
  }

  .tower1,
  .tower2 {
    width: 100%;
    float: none;
  }

  .infoSection {
    display: none;
  }

  .filter {
    display: flex;
  }

  .topSection {
    display: block;
  }

  .selectOptionContainer {
    gap: 3vw;
  }

  .selectOptionContainer button {
    width: 25vw;
    justify-content: center;
    margin: 2vh 2vw;
  }

  .content {
    font-size: 1.5rem;
    justify-content: space-between;
  }

  .contentIcon {
    display: flex;
    font-size: 1.3rem;
    padding-top: 1vh;
  }

  .contentIconWrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .dropdownMenu {
    position: absolute;
    top: 24px;
    right: 0;
    background-color: black;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    min-width: 100px;
  }

  .dropdownItem {
    padding: 1vh 2vw;
    cursor: pointer;
  }

  .dropdownItem:hover {
    background-color: rgb(66, 66, 66);
  }

  .tower2,
  .tower1 {
    width: auto;
    margin-top: 15vh;
  }

  .circleImage {
    width: 3vw;
    height: 3vw;
  }

  .scrollArea {
    margin-top: 5vh;
    width: 80vw;
    padding-bottom: 20vh;
    overflow-x: auto;
  }

  .roomBox {
    width: 18vw;
    border-right: 1px solid black;
  }

  .dialogBox {
    width: 90vw;
  }

  .lastDetailsSection {
    display: block;
  }

  .noteContainer {
    width: 80vw;
    font-size: 0.8rem;
    border-left: none;
    padding: 5vh 0vw 0vh 1.5vw;
  }

  .middleSection {
    justify-content: unset;
  }

  .detailsText {
    font-size: 0.7rem;
    gap: 0.5vh;
  }

  .lastText {
    gap: 0.8vh;
    padding-right: 0;
  }
}