.tapsection {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
  width: 100%;
  overflow-x: auto;
  padding: 10px 0;
}

.card {
  height: 17vh;
  background: #090909;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 12px;
  z-index: 1;
  margin: 0px 5px;
  padding-top: 5px;
 
}


:global(html.light) .card {
  background: #ffffffde;

  box-shadow: 0 0px 10px #01043333;
}

.card::before {
  content: "";
  position: absolute;
  width: 300%;
  height: 300%;
  background: conic-gradient(#1c1c1c, #e3d1ff, #d2b5ff, #121212, #121212);
  animation: rotate 3s linear infinite;
  z-index: 0;
}

:global(html.light) .card::before {
  background: none;
}

.card::after {
  content: "";
  position: absolute;
  inset: 1px;
  background: #121212;
  border-radius: 12px;
  z-index: 1;
}

:global(html.light) .card::after {
  background: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.headpart {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  align-items: center;
}

.projectctn {
  width: 400px;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  width: 40px;
  background: #1c1c1c;
  border: 1px solid #2f2e2e;
}

:global(html.light) .filter {
  background: linear-gradient(135deg, #3f96ae, #173b45);
  border: none;
  color: white;
}

.filterContainer {
  position: relative;
  display: inline-block;
}

.filterIcon {
  cursor: pointer;
  border-radius: 8px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
  font-size: 25px;
}

.filterMenu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #1c1c1c;
  border: 1px solid #2f2e2e;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 10;
  min-width: 160px;
  animation: fadeIn 0.2s ease-in-out;
}

.filterOption {
  padding: 10px 15px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.filterOption:hover {
  background-color: #4f4949;
}

.activeOption {
  background-color: #7b5ef5;
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.rank {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  color: white;
  width: 440px;
  position: absolute;
  top: 30px;
  right: 10px;
  z-index: 10;
  gap: 10px;
}

.rankItem {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #1c1c1c;
  padding: 6px 12px;
  border-radius: 8px;
  transition: transform 0.2s ease, background 0.2s ease;
}

:global(html.light) .rankItem {
  background: #ffffff;
  color: black;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(137, 43, 226, 0.123);
}


.medal {
  font-size: 18px;
}

.name {
  font-weight: 600;
  font-size: 14px;
}

.score {
  font-size: 13px;
  color: #a8ffcb;
}

:global(html.light) .score {
  color: #6e0daf;
  font-weight: 600;

}

.formControl select {
  width: 100%;
  padding: 0.7rem;
  font-size: 14px;
  color: #fff;
  border-radius: 8px;
  background-color: #151414f5;
  border: 1px solid #444444f5;
}

:global(html.light) .formControl select {
  color: #201f1f;
  border: 2px solid #927fbff5;
  background-color: white;
}
.iconContainer {
  background: #604b8434;
  padding: 4px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 35px;
  width: 22px;
  height: 22px;
}

:global(html.light) .iconContainer {
  background: #a086cb1f;
}
.bgIcon {
  position: absolute;
  bottom: 5px;
  right: 8px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.05);
  z-index: 2;
}
@media (max-width: 768px) {
    .iconContainer {
    font-size: 25px;
    width: 18px;
    height: 18px;
    padding: 2px;
  }
  
  .bgIcon {
    font-size: 25px;
  }
}
@media (max-width: 480px) {
  .iconContainer {
    font-size: 20px;
    width: 17px;
    height: 17px;
    padding: 2px;
  }
  .bgIcon {
    font-size: 23px;
  }
}
@media (max-width: 1024px) {
  .rank {
    padding: 0px 0px;

    position: relative;
    top: 0px;
    right: 0px;
    z-index: 0;
  }
}

@media (max-width: 525px) {
  .projectctn {
    width: 75%;
  }

  .rank {
    width: 100%;
  }
}

@media (max-width: 1000px) {

  .tapsection {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
  }



  .card {
    width: 16vw;
    height: 140px;
    flex: 0 0 auto;
  }

  :global(html.light) .card {
    background: #ffffffde;

    box-shadow: 0 2px 10px #01043333;
  }

}

@media (max-width: 768px) {



  .card {
    width: 20vw;
    height: 140px;
    flex: 0 0 auto;
  }

}

@media (max-width: 480px) {


  .card {
    width: 110px;
    height: 100px;
      padding-top: 0px;

  }

  :global(html.light) .card {
    box-shadow: 0 2px 5px #0407281d;
  }

  .rank {
    display: grid;
    grid-template-columns: repeat(2, 1fr);


  }

  .filter {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    width: 30px;
    background: #1c1c1c;
    border: 1px solid #2f2e2e;
    margin: 10px 0px;
  }

  .projectctn {
    width: 70%;
  }

  .headpart {

    width: 100%;
    gap: 10px;

  }

  .filterIcon {

    font-size: 20px;
  }

}