body {
  font-family: Poppins, sans-serif;
  margin: 0;
}
/* Navbar */

.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #000000;

  font: 12px;
  justify-content: space-between;
  height: 60px;
  padding: 0.6rem 0.7rem;
  color: #ffffffc9;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

/* Navbar-links */
.navlinks {
  display: flex;
  flex-direction: row;
  gap: 4vh;
}
.navlogo {
  height: 50px;
}
.navwork {
  display: flex;
  flex-direction: row;
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  font-size: 3vh;
  margin: 0px 32px 0px 0px;
  cursor: pointer;
  transition: background-color 0.3 ease;

} 
/*navbar logo */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  padding-left: 1.5rem;
  
}
.logoImage {
  height: auto;
  transition: transform var(--transition-fast);
  height: 5vh;
  transform:scale(1.2);
}
.logoImage:hover {
  transform: scale(1.02);
}

/*navbar element style*/
.navlinks li a{
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 200;
    padding: 8px 12px;
    display: inline-block;
    transition: font-weight 0.2s ease;


}
.navlinks li a::after {
  content: "";
  position: absolute;
  left: 50%;                   
  bottom: 0;                   
  width: 0;                    
  height: 2px;    
 font-weight: 500;        
  background-color: white;     
  transform: translateX(-50%); 
  transition: width 0.3s ease;
}
.navlinks li a:hover {
  font-weight: 700; 
}

.navlinks li a:hover::after {
  width: 100%;
}

/*icons style*/

.tog

.iconone{
    color: white;
    transition: color 0.3 ease;
}
.iconone:hover{
    color:#f1c40f;
}
.icontwo{
    color:white;
    transition: color 0.3 ease;

}
.icontwo:hover{
 color:#f1c40f;
}
