.formHeadline {
  /* margin-top: 3vh; */
  /* padding-left: 2vw; */
  /* color: #313131; */
  color: rgb(179, 179, 179);
  font-size: 1.1rem;
  font-weight: 500;
}

.formControlAttach,
.formControl {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 3vh;
  border-radius: 8px;
}

.formControlAttach {
  width: 14vw;
}

.formControlForDate {
  width: 14.5vw;
}

.formControl textarea {
  padding: 1vw;
  color: black;
  border-radius: 8px;
}

.formControl label {
  font-size: 0.7rem;
  position: absolute;
  top: -12px;
  left: 10px;
  background-color: black;
  padding: 0 10px;
  color: rgb(170, 170, 170);
  border-radius: 8px;
}

.formControl select {
  padding: 10px;
  font-size: 0.8rem;
  color: black;
  border-radius: 8px;
}

.formControl input {
  padding: 10px;
  font-size: 0.8rem;
  color: black;
  border: 1px solid rgb(87, 87, 87);
  border-radius: 8px;
}

.dateicon {
  position: absolute;
  top: 50%;
  left: 7rem;
  transform: translateY(-50%);
  color: #007bff;
  pointer-events: none;
}

.dateSection {
  display: flex;
  justify-content: space-between;
}

.uploadBox {
  display: flex;
  align-items: center;
  gap: 1vw;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgba(252, 245, 245, 0.4);
  padding: 1vh 1vh;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  position: relative;
}

.inputIcon {
  font-size: 1rem;
  color: #007bff;
  position: relative;
}

.uploadText {
  font-size: 0.8rem;
  color: rgba(252, 245, 245, 0.8);
}

.fileName {
  margin-top: 5px;
  font-size: 0.8rem;
  color: rgb(120, 120, 120);
}

.buttonRow {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

.cancelButton {
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #333;
  color: #fff;
}

.cancelButton:hover {
  background-color: #555;
}

.submitButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #0069d9;
}

.radioSection {
  display: flex;
  gap: 4vw;
  margin: 1rem 0;
  align-items: center;
}

.radioSection label {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 2vh;
  color: #ccc;
}

.attachmentContainer {
  display: flex;
  justify-content: space-evenly;
}
.regularizedate h6 {
  color: #6d6b6b;
}
.regularizedate p {
  font-size: 0.8rem;
  color: #6d6b6b;
  font-weight: 500;
}
.formControl p {
  color: rgb(255, 8, 8);
  font-size: 0.8rem;
  text-align: right;
}

.formControl input,
.formControl select,
.formControl textarea {
  background-color: #000000;
  color: #e0e0e0;
  border: 1px solid #444;
}

.formControl textarea::placeholder,
.formControl input::placeholder {
  color: #888;
}

@media screen and (max-width: 615px) {
  .formHeadline {
    font-size: 1rem;
    padding-bottom: 2vh;
    width: 60vw;
  }

  .formControlForDate {
    width: auto;
  }

  .formControl select {
    padding: 2vh 0;
  }

  .formControl input {
    padding: 10px;
  }

  .dateSection {
    display: block;
  }

  .attachmentContainer {
    justify-content: space-around;
  }

  .formControlAttach {
    width: 40vw;
  }

  .uploadBox {
    gap: 3vw;
  }
}
