body {
    margin: 0;
    background: none;
    font-family: sans-serif;
    background-image: url(../../public/images/rightside.png);

    height: 100vh;
    position: relative;
    overflow: hidden;
}

.pagewrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ContentMain {
    display: flex;
    flex-direction: row;
    width: 100%;
}



.forgotanimation {
    height: 50vh;
    width: fit-content;
}



.logoimg {
    height: 4vh;
    width: 9vw;
    margin-top: 1px;

}

.forgottext {
    font-size: 3vw;
    background: linear-gradient(180deg, #ffffff, #8ed4fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-weight: 600;
    color: lin;
}

.note {
    font-size: 13px;
    letter-spacing: 0.2px;
    text-align: center;
    line-height: 1.3;
    width: 25vw;
    color: rgba(212, 210, 210, 0.767);
}

.emailanimate {
    left: 20%;
    top: 20%;
    height: 30vh;
    width: 20vw;
    margin-top: 1vw;
    position: absolute;
}

.inputmain {
    position: relative;
    width: 23vw;
    height: 6vh;
    margin-top: 4vw;
}

.emailInput {
    height: 100%;
    width: 100%;
    padding-left: 40px;
    padding-right: 15px;
    background: transparent;
    border: 1px solid rgb(55, 186, 226);
    border-radius: 10px;

    font-size: 16px;
    color: white;
    outline: none;
    transition: all 0.3s ease;
}




.mailicon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: rgb(55, 186, 226);
}

.Submitbtn {
    color: white;
    background-color: #050d1a;
    width: 23vw;
    border-radius: 10px;
    height: 6vh;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 15px;
    border: 1px solid rgb(55, 186, 226);

}

.Submitbtn:hover {
    background-color: rgb(59, 166, 216);
}

input::placeholder {
    color: rgb(212, 210, 210);

}

.BuildingContaier {
    background-image: url(../../public/images/eee.png);
    height: 100vh;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 45px solid #242b36d0;
    border-left: 45px solid #242b36;
    border-bottom: 45px solid #242b36;
    display: flex;
    justify-content: end;
    align-items: center;

}

/* .leftcontainer {
    position: absolute;
    top: 23%;
    display: flex;
    align-items: center;

    height: 55vh;
    width: 40vw;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    background-color: #242b3646;
} */

.rightside {
    background-image: url(../../public/images/rightside.png);
    width: 50%;
    position: relative;
    border-top: 45px solid #242b366b;
    border-bottom: 45px solid #242b366b;
    border-right: 45px solid #242b366b;

}

.resetpass,
.otpform {
    left: 55%;
    top: 23%;
    height: 55vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #242b36dc;
    box-sizing: border-box;
    z-index: 3;
    position: absolute;
    padding-top: 4vw;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    transition: border-color 1s ease infinite alternate;

}

/* otp for desigin */

.otpform {
    /* background-color: red; */
    margin: 0;
    padding-top: 15px;
    /* width: 30vw; */
    display: flex;
    /* justify-content: center; */
    align-items: center;


}

.otpHeading {
    font-size: 1.5vw;
    font-weight: 700;
}

.otpinputsmain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    gap: 10px;
    margin-top: 2vw;
}

.otpinput {
    width: 2vw;
    height: 5vh;
    text-align: center;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    outline: none;

}

.otpinstrucrtion {
    color: rgba(212, 210, 210, 0.767);
    font-size: 14px;

}

.otpAndP {
    margin-right: 10vw;
}

.ResendOtpbtn {
    background-color: #050d1a75;
    width: 7vw;
    height: 4vh;
    padding: 0.5vh 0.5vw;
    white-space: nowrap;
    border-radius: 10px;
    margin-top: 1vw;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    /* border: 1px solid rgb(55, 186, 226); */
    cursor: pointer;
    transition: box-shadow 0.3s ease-in, transform 0.3s ease;


}

.ResendOtpbtn:hover {
    box-shadow: 0 0 10px rgb(53, 204, 255);
    /* transform: scale(1.05); */
}

.resetHeading {
    margin-right: 21.5vw;
    font-size: 1.5vw;
    font-weight: 700;
    margin-top: 0.5vw;
}


.passwordinputsmain {
    display: flex;
    /* width: 30vw; */
    flex-direction: column;
    gap: 0.5vw;
    margin-top: 0.5vw;
    margin-bottom: 1vw;
    /* position: relative; */
}


.passwordinputsmain input::placeholder {
    padding-left: 5px;
    font-size: 12px;
}

.passwordinputsmain input {
    padding-left: 40px;

}

.keyicon {
    position: absolute;
    top: 20%;
    left: 2%;
}

.newpassowrd {
    position: relative;
}

.setnewpassword {
    position: relative;
}

.keyicontwo {
    position: absolute;
    top: 25%;
    left: 2%;
}



.Submitpasswordbtn {
    background-color: #050d1a75;
    padding: 1vh 0.5vw;
    width: 7vw;
    border-radius: 10px;
    height: 4vh;
    letter-spacing: 2px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(55, 186, 226); */
    cursor: pointer;
    transition: box-shadow 0.3s ease-in, transform 0.3s ease;




}

.Submitpasswordbtn:hover {
    box-shadow: 0 0 10px rgb(53, 204, 255);
    /* transform: scale(1.05); */
}

.passwordInputs {
    background-color: #0000003d;
    width: 30vw;
    height: 5vh;
    border-radius: 10px;

}

.loginCard::before {

    padding: 2px;
    background: linear-gradient(90deg, #c49b66, black, white);
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;

}

.otpform {
    display: flex;
    flex-direction: column;
}

.otptimer {
    color: rgba(212, 210, 210, 0.767);
    font-size: 11px;
}

.mobileViewMain {
    display: none;
}

/* responsive for mobile */

@media screen and (max-width:425px) {
    .pagewrapper {
        display: none;
    }

    .mobileViewMain {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../../public/images/eee.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        position: absolute;

    }

    .resetpass {
        /* left: 40%;
    top: 50%; */
        left: 13%;
        top:30%;
        height: auto;
        width: 75vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #242b36dc;
        box-sizing: border-box;
        z-index: 3;
        position: absolute;
        padding-top: 4vw;
        padding-bottom: 4vw;

        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;

        transition: border-color 1s ease infinite alternate;

    }

    .ContentMain {
        display: none;
    }

    .BuildingContaier {
        display: none;
    }

    .forgottext {
        font-size: 6.5vw;
    }

    .note {
        font-size: 3.5vw;
        letter-spacing: 0.2px;
        text-align: center;
        line-height: 1.3;
        width: 100%;
        margin-top: 2vh;
    }
   
.inputmain {
    position: relative;
    width: 90%;
    height: 6vh;
    margin-top: 10vw;
    /* padding:2vw */
}
.Submitbtn {
    width: 90%;
}

.otpform{
      left: 13.5%;
        top:25%;
        height: auto;
        width: 75vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #242b36dc;
        box-sizing: border-box;
        z-index: 3;
        position: absolute; 
        padding-top: 4vw;
        padding-bottom: 4vw;

        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        transition: border-color 1s ease infinite alternate;
}
.otpHeading {
    font-size: 5vw;
    font-weight: 700;
}
.otpAndP {
    /* margin-right: 8vw; */
    margin-left: 5vw;
}
.otpinputsmain {

    width: 100%;
    gap: 5vw;
    margin-top: 1vw;
}
.otpinput {
    width: 5vw;
    height: 5vh;
    text-align: center;
    font-size: 5vw;
}
.ResendOtpbtn {
    background-color: #050d1a75;
    width: fit-content;
    height: auto;
    padding: 0.5vh 2vw;
    white-space: nowrap;
    border-radius: 10px;
    margin-top: 5vw;
    font-size: 8px; 
}

.resetHeading {
    margin-left: 0;
    font-size: 5vw;
    font-weight: 700;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.newpassowrd {
    position: relative;
    /* width: 100%; */
}
.passwordinputsmain {
    display: flex;
    /* width: 30vw; */
    flex-direction: column;
    gap: 0.8vw;
    margin-top: 0.5vw;
    margin-bottom: 1vw;
    /* position: relative; */
}
.passwordinputsmain input {
    padding-left: 20px;

}

.passwordInputs {
    background-color: #0000003d;
    width: fit-content;
    height: 5vh;
    border-radius: 10px;

}

.Submitpasswordbtn {
    background-color: #050d1a75;
    padding: 1vh 2vw;
    width: fit-content;
    border-radius: 15px;
    height: 4vh;
    letter-spacing: 2px;
    font-size: 12px;
    margin-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(55, 186, 226); */
    cursor: pointer;
    transition: box-shadow 0.3s ease-in, transform 0.3s ease;




}



}