/* body {
    background-image: url(../../public/images/passwordbg.png);
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;




}

.main {
    display: flex;
    flex-direction: row;
    align-self: center;
    display: flex;
    align-items: center;
    margin-left: 10vw;
    justify-content: space-around;

    background-color: rgba(128, 128, 128, 0.288);
    border: none;
    border-radius: 20px;
    min-height: 90vh;
    min-width: 80vw;
}

.forgotanimation {
    height: 50vh;
    width: fit-content;
}

.resetpass {
    height: 50vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 20px;

}

.logoimg {
    height: 7vh;
    width: 15vw;
    margin-top: 10px;

} */
