.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-size: 2.5vh;
  padding: 0.7rem 0.6rem;
  color: white;
  width: 100%;
  position: fixed;
  height: 50px;
}
.NavLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 4vw;
  position: fixed;
  background-color: transparent;
  z-index: 1000;
  margin-left: 39vw;
  white-space: nowrap;
}
.Loginbtn {
  height: 5vh;
  width: 7vw;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  margin-left: 18vw;
  background-color: #ffffff0d;
}
.Logo {
  margin-left: 1vw;
  transition: 0.3s backgroundcolor ease;
}
.Loginbtn:hover {
  background-color: #c49b66;
}
.NavContainerTwo {
  display: none;
}
.LoginbtnTwo {
  display: none;
}



/* responsive for mobile and tablet */

@media screen and (max-width: 614px) {
  .Navbar {
    display: none;
  }

.NavContainerTwo {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  height: 0;
  margin-top: 5px;
  padding-top: 0;
  justify-content: space-between;
  /* padding-left: 10px; */
  padding-right: 15px;
  width: 100%;
}

.NavlinksContainer {
  width: 70%;
  position: fixed;
  z-index: 1000;
  gap: 10px;
  padding-left: 20px;
  padding-top: 1px;
  border-radius: 20px;
  margin-left: 0;
}

.NavLinksTwo {
  gap: 15px;
  font-size: 6vw;
}
.LoginbtnTwo {
  font-size: 1rem;
  padding: 0.6rem 1.5rem;
  border: 1px solid grey;
  height: 5vw;
  width: 20vw;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.HomeIconIn {
  margin-left: 50vw;
}
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

/* responsive for 615px to 768px */
@media screen  and (min-width:615px) and (max-width: 768px) {
  .Navbar {
  height: 50px;
}
.Logo {
  margin-left: 1vw;
  transition: 0.3s backgroundcolor ease;
  height: 7vw;
  width: 15vw;
}
.Loginbtn {
  height: 5vh;
  width: 10vw;
  border-radius: 20px;
  font-size: 2vw;
  margin-left: 8vw;
}
.NavLinks {
  gap: 2vw;
  z-index: 1000;
  margin-left: 39vw;
}

}
@media screen  and (min-width:769px) and (max-width: 1024px) {
  .Logo {
  height: 5vw;
  width: 15vw;
  
}
.Loginbtn {
  margin-left: auto;

}
.NavLinks {
  gap: 2vw;
  position: fixed;
  background-color: transparent;
  z-index: 1000;
  flex: 1;
}
.Navbar {
  font-size: 2.5vh;
  padding: 0.7rem 0.6rem;
  height: 50px;
}
}

/*  r*/
@media screen  and (min-width:1025px) and (max-width: 1440px) {
   .Logo {
  margin-left: 1vw;
  height: 4vw;
  width: 15vw;
  
}
.Loginbtn {
  margin-left: auto;
  margin-right: 2vw;

}

.NavLinks {
  gap: 4vw;
  z-index: 1000;
  flex: 1;
}
.Navbar {
  font-size: 2.5vh;
  padding: 0.7rem 0.6rem;
  width: 100%;
  position: fixed;
  height: 50px;
  margin-top: 0.5VW;
}

}

/* 1441 to 2560 */
@media screen  and (min-width:1441px) and (max-width: 2560px) {
  .Logo {
  margin-left: 1vw;
  transition: 0.3s backgroundcolor ease;
  height: 5vw;
  width: 15vw;
  display: flex;
  
}
.Loginbtn {
  margin-left: auto;

}
.NavLinks {
  position: fixed;
  background-color: transparent;
  z-index: 1000;
  flex: 1;
}
.Navbar {
  width: 100%;
  position: fixed;
  height: 50px;
  margin-top: 1vw;
}

}
