.Wrapper {
  position: relative;
  width: 100%;         
  overflow: hidden;    
  align-items: center;
  display: flex;
}

.ScrollContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
  padding-left: 7vw;
  margin-top: 6vw;

  margin-bottom: 1vw;
  scroll-behavior: smooth;
overflow-x: auto;
}

.ScrollContainer::-webkit-scrollbar { 
  display: none;
}

.Element {
  flex: 0 0 auto;      
  background-color: #272727;
  height: 2vw;     
  padding: 0 1vw;
  border-radius: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: fit-content;
}

.All {
   background-color: white;
    color: black;
    display: flex;
    padding: 0.5vh 0.5vw;
    height: 4vh;
    width: 3vw;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
}

.ScrollButton {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  width: 4vw;
  height: 4vh;
  border-radius: 50%;
  margin-top: 7vw;
  background-color: #272727E6;
  
  border: none;
  cursor: pointer;
  z-index: 10;
}


/* responsive for mobile and laptop */
@media screen and (max-width:572px){
.Wrapper {
  position: relative;
  width: 100%;         
}

.ScrollContainer {
  gap: 0.5vw;
  padding-left: 20vw;
  margin-right: 1vw;
  margin-top: 0;
  margin-bottom: 0;
}

.ScrollContainer::-webkit-scrollbar { 
  display: none;
}

.Element {
  flex: 0 0 auto;      
  height: 7vw;     
  padding: 0 2vw;
  border-radius: 20vw;
}

.All {
    padding: 1vh 2vw;
    height: 4vh;
    width: 7vw;
    border-radius: 50%;
}

.ScrollButton {
  flex: 1;
  transform: translateY(-50%);
  width: 5vw;
  height: 5vh;
  border-radius: 50%;
  margin-top: 5vw;
margin-right: 5vw;
margin-left: 0; 
}

}

/* resoponsive for 573 to 768 */

@media screen and  (min-width:573px) and  (max-width:768px){
.Wrapper {
  width: 73%;         
  margin-top: 5vw;
}

.ScrollContainer {
  gap: 0.5vw;
  padding-left: 10vw;
  margin-right: 1vw;
  margin-top: 0;
  margin-bottom: 0;
}

.ScrollContainer::-webkit-scrollbar { 
  display: none;
}

.Element {
  flex: 0 0 auto;      
  height: 5vw;     
  padding: 0 2vw;
  border-radius: 20vw;
  white-space: nowrap;
  font-size: 2vw;
}

.All {
    padding: 1vh 2vw;
    height: 4vh;
    width: 5vw;
    border-radius: 50%;

}

.ScrollButton {
  flex: 1;
  transform: translateY(-50%);
  width: 5vw;
  height: 5vh;
  border-radius: 50%;
  margin-top: 5vw;
  margin-bottom: 0;
margin-right: 5vw;
margin-left: 0; 
}

}
@media screen and  (min-width:769px) and  (max-width:1024px){
  .Wrapper {
  width: 100%;         
}

.ScrollContainer {
  gap: 0.5vw;
  padding-left: 7vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.ScrollContainer::-webkit-scrollbar { 
  display: none;
}

.Element {
  flex: 0 0 auto;      
  height: 4vw;     
  padding: 0 1vw;
  border-radius: 20vw;
}

.All {
    padding: 0.5vh 0.5vw;
    height: 5vh;
    width: 4vw;
    border-radius: 50%;
}

.ScrollButton {
  display: none;
}
}
/* r */
@media screen and  (min-width:1025px) and  (max-width:1440px){
  .Wrapper {
  position: relative;
  width: 80%;      
  margin-top: 5vw;   
  margin-left: 2vw;
}

.All{
    background-color: white;
    color: black;
}
.ScrollContainer {
  gap: 0.5vw;
  padding-left: 0vw;
  margin-top: 0;
  margin-bottom: 0;

}
.ScrollButton {
  flex: 1;
  transform: translateY(-50%);
  width: 5vw;
  height: 5vh;
  border-radius: 50%;
  margin-top: 2vw;
  margin-bottom: 0;
margin-right: 5vw;
margin-left: 0; 
}
}

/* r */
 @media screen and (min-width:1441px) and (max-width:2550px) {

  .Wrapper {
  position: relative;
  width: 65%;      
  margin-top: 5vw;   
  margin-left: 7vw;
}

.All{
    background-color: white;
    color: black;
    height: 3vw;
    width: 3vw;
}
.ScrollContainer {
  gap: 0.5vw;
  padding-left: 0vw;
  margin-top: 0;
  margin-bottom: 0;

}
.ScrollButton {
  flex: 1;
  transform: translateY(-50%);
  width: 7vw;
  height: 7vh;
  border-radius: 50%;
  margin-top: 2vw;
  margin-bottom: 0;
margin-right: 5vw;
margin-left: 0.2vw;   
}
.Element {
  flex: 0 0 auto;      
  height: 3vw;     
  padding: 0 1vw;
  font-size: 1vw;
  border-radius: 20vw;
}
} 
