.ShareContainer {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
  padding: 2vh 2vw;
  border: none;
  border-radius: 3%;
  left: 30%;
  top: 25%;
  position: absolute;
}
.first {
  display: flex;
  gap: 28vw;
  margin-bottom: 1vw;
  margin-top: 1vw;
  align-items: center;
}
.Second {
  display: flex;
  gap: 0.5vw;
  margin-bottom: 1vw;
  align-items: center;
}
.input {
  background-color: rgba(128, 128, 128, 0.363);
  height: 2.9vw;
  border: none;
  width: 27vw;
  border-radius: 5px;
}
.copy {
  background-color: rgb(106, 106, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vw;
  width: 6vw;
  border: none;
  border-radius: 10px;
}
.WhiteLine {
  margin-bottom: 1vw;
}
.Checkbox {
  margin-right: 5px;
}

.Links {
  border: none;
  display: flex;
  flex-direction: row;
}
.SocialMedia {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 1.5vw;
}

.Links a {
  display: flex;
  align-items: center;
  border: none;
  background-color: rgba(128, 128, 128, 0.39);
  width: 17vw;
  height: 7vh;
  border-radius: 7px;
  padding-left: 1vw;
  gap: 10px;
}
.ShareHeader{
  font-Weight: 700;
   font-Size: 1.2vw;
    margin-Top:1vw;
     margin-Bottom:1.2vw
}

/* responsive for mobile and tablet */
@media screen and (max-width:573px){
  
.Links a {
  width: 25vw;
  height: 7vh;
  border-radius: 7px;
  padding-left: 1vw;
  gap: 10px;
  font-size: 10px;
}
.ShareContainer {
  left: 25%;
  top: 25%;
  position: absolute;
  padding: 2vh 5vw;
}
.Second {
  display: flex;
  gap: 0.5vw;
  margin-bottom: 1vw;
  align-items: center;
  font-size:3vw;
}
.input {
  background-color: rgba(128, 128, 128, 0.363);
  height: 10vw;
  border: none;
  width: 80%;
  border-radius: 5px;
}
.copy {
  background-color: rgb(106, 106, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vw;
  width: 15vw;
  border: none;
  border-radius: 10px;
}
.ShareHeader{
  font-size: 4vw;
  margin-bottom: 2vw;
}


}