.DiscMain {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 6vw;
  gap: 1vw;
}

.Thumbnail {
  font-size: 1.5vw;
  font-weight: 700;
}

.Channel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ChannelLogo {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.Btns {
  height: 1.3vw;
  width: 1.3vw;
  min-width: 16px;
  min-height: 16px;
}

.likebtn,
.dislike {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0 0.5vw;
}

.ChannelName {
  margin-left: 0.5vw;
  font-size: 20px;
  font-weight: 700;
  flex-grow: 1;
}

.BtnContainer {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.Sharebtn {
  border-radius: 20px;
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.26);
  padding: 0.3vw 0.8vw;
  cursor: pointer;
  white-space: nowrap;
}

.LikeDislike {
  display: flex;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.205);
  border-radius: 999px;
  padding: 0.3vw 0.8vw;
  gap: 0.5vw;
}

.DiscStorage {
  background-color: rgba(128, 128, 128, 0.233);
  padding: 0.5vw 1vw;
  border-radius: 10px;
}

.Breaker {
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  height: 2vh;
}

/* responsive for mobile and tablet */
@media screen and (max-width: 573px) {
  .Thumbnail {
    font-size: 15px;
    font-weight: 700;
  }
  .DiscMain {
    margin-left: 3vw;
    margin-top: 3vw;
    gap: 1vw;
    margin-right: 2vw;
  }
  .ChannelLogo {
    height: 30px;
    width: 30px;
  }
  .ChannelName {
    padding-left: 5px;
    font-size: 5vw;
  }
  .BtnContainer {
    gap: 5vw;
  }
  .DiscStorage {
    padding: 1vh 1vw;
    margin-top: 3vw;
  }
  .LikeDislike {
    padding: 1vw 1vw;
    gap: 4vw;
  }
  .Sharebtn {
    padding: 1vw 1vw;
  }
}

/* responsive for 573px to 768px */
@media screen and (min-width: 573px) and (max-width: 768px) {
  .Thumbnail {
    font-size: 3vw;
    font-weight: 700;
  }
  .DiscMain {
    margin-left: 2vw;
    margin-top: 2vw;
    gap: 1vw;
    margin-right: 2vw;
    width: 50vw;
  }
  .ChannelLogo {
    height: 40px;
    width: 40px;
  }
  .ChannelName {
    padding-left: 5px;
    font-size: 3vw;
    gap: 0;
  }
  .BtnContainer {
    gap: 5vw;
  }
  .DiscStorage {
    padding: 1vh 1vw;
    margin-top: 3vw;
  }
  .LikeDislike {
    padding: 1vw 1vw;
    gap: 4vw;
  }
  .Sharebtn {
    padding: 1vw 1vw;
  }
}

/* responsive for 769 to 1023 */
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .Thumbnail {
    font-size: 2.5vw;
    font-weight: 700;
  }
  .DiscMain {
    margin-left: 2vw;
    margin-top: 2vw;
    gap: 1vw;
    margin-right: 2vw;
  }
  .LikeDislike {
    padding: 1vw 1vw;
    gap: 1vw;
    width: 15vw;
  }
  .Sharebtn {
    padding: 1vw 1vw;
  }
  .DiscStorage {
    padding: 2vh 2vw;
    margin-top: 2vw;
    height: 12vw;
  }
}

/* responsive for 1025 to 1440 */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .Thumbnail {
    font-size: 2vw;
    font-weight: 700;
  }
  .DiscMain {
    margin-left: 4vw;
    margin-top: 1vw;
    gap: 1vw;
    margin-right: 2vw;
    width: 90%;
  }
  .LikeDislike {
    padding: 0.5vw 0.5vw;
    gap: 2vw;
    width: 15vw;
  }
  .Sharebtn {
    padding: 0.5vw 0.5vw;
  }
  .DiscStorage {
    padding: 2vh 2vw;
    margin-top: 0.5vw;
    height: 5vw;
  }
  .ChannelLogo {
    height: 50px;
    width: 50px;
  }
  .ChannelName {
    padding-left: 5px;
    font-size: 1.5vw;
  }
}
/* r */
@media screen and (min-width: 1441px) and (max-width: 2550px) {
  .Thumbnail {
    font-size: 2vw;
    font-weight: 700;
  }
  .DiscMain {
    margin-left: 4vw;
    margin-top: 1vw;
    gap: 1vw;
    margin-right: 2vw;
    width: 93%;
  }
  .LikeDislike {
    padding: 0.5vw 0.5vw;
    gap: 1vw;
    width: 10vw;
  }
  .Sharebtn {
    padding: 0.5vw 0.5vw;
  }
  .DiscStorage {
    padding: 2vh 2vw;
    margin-top: 0.5vw;
    height: 5vw;
    font-size: 1vw;
  }
  .ChannelLogo {
    height: 50px;
    width: 50px;
  }
  .ChannelName {
    padding-left: 5px;
    font-size: 1.5vw;
  }
}