.MainContainer{
    background-color: black;
    width: 100%;
    min-height: 100vh;

}
.SubContainer{
    display: flex;
    flex-direction: row;
}
.LeftSide{
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:615px) {
.SubContainer{
display: flex;
flex-direction: column;
}
}