.MainContainer{
    background-color: black;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
.SubContainer{
    display: flex;
    flex-direction: row;
}
.LeftSide{
    display: flex;
    flex-direction: column; 
}
.NavbarMain{
    position: relative;
    z-index: 1000;  
}
@media screen and (max-width:572px) {
.SubContainer{
display: flex;
flex-direction: column;
}

}