.PlaylistMainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  height: auto;
  margin-left: 5px;
  width: 28vw;
}
.Playlist {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 1vw;
  align-items: flex-start;
  margin-bottom: 1vw;
}
.PlayListInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
}
.Videobox {
  width: 10vw;
  height: 7vw;
  margin-right: 1vw;
  border-radius: 5px;
  object-fit: cover;
}
.PlaylistThumbnail {
 display: inline;
  font-size: 13px;
  font-weight: 400;
  width: auto;
  word-break: break-word;
flex: 1;
}
.Channel {
  font-weight: 200;
  color: grey;
  font-size: 13px;
}
.views {
  font-size: 13px;
  font-weight: 200;
  color: grey;
}
.icon {
  cursor: pointer;
}
.ThumbnailRow{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
/* responsive for mobile and tablet */

@media screen and (min-width:572px) and (max-width:768px){
.Videobox {
  width: 35vw;
  height: 20vw;
  margin-right: 1vw;
  border-radius: 5px;
  object-fit: cover;
}
.PlaylistMainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3vw;
  height: auto;
  margin-left: 5px;
  width: 100%;
  
}
.PlaylistThumbnail {
 display: inline-block;
  font-size: 12px;
  font-weight: 400;
  max-width: 100px;
flex: 1;
margin-left: 5px;
text-overflow: ellipsis;
word-break: break-all;

}
.ThumbnailRow{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;  
    margin-right: 5vw;
    white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;


}
.icon {
  cursor: pointer;
  height: 7vw;
  padding-top: 1vw;
 
}
.views {
  font-size: 10px;
  font-weight: 200;
  color: grey;
  margin-left: 5px;
}
.Channel {
  font-weight: 200;
  color: grey;
  font-size: 10px;
  margin-left: 5px;
}
.Playlist {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 1vw;
  align-items: flex-start;
  margin-bottom: 7vw;
}

}

/* responsive for max 768px */

@media screen and (min-width:573) and (max-width:768px){
.PlaylistMainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1vw;
  height: auto;
  margin-left: 1px;
  width: 50vw;
}
.Playlist {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 0.5vw;
  align-items: flex-start;
  margin-bottom: 1vw;
}
.Videobox {
  width: 15vw;
  height: 9vw;
  margin-right: 1vw;
  border-radius: 5px;
  object-fit: cover;
}
.PlaylistThumbnail {
 display: inline;
  font-size: 12px;
  font-weight: 400;
  width: auto;
  word-break: break-word;
flex: 1;

}
} 
