.VideosContainer {
  margin-left: 6vw;
  /* height: 50px; */
  margin-top: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.Videobox {
  height: 35vw;
  width: 60vw;
  border: none;
  border-radius: 10px;
  object-fit: cover;
}
