.PlaylistMainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  height: auto;
  margin-left: 5px;
  width: 28vw;
  color: white;
}
.Playlist {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 1vw;
  align-items: flex-start;
  margin-bottom: 1vw;
}
.PlayListInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
}
.Videobox {
  width: 10vw;
  height: 5vw;
  margin-right: 1vw;
  border-radius: 5px;
  object-fit: cover;
}
.PlaylistThumbnail {
 display: inline;
  font-size: 13px;
  font-weight: 400;
  width: auto;
  word-break: break-word;
flex: 1;
}
.Channel {
  font-weight: 200;
  color: grey;
  font-size: 13px;
}
.views {
  font-size: 13px;
  font-weight: 200;
  color: grey;
}
.icon {
  cursor: pointer;
}
.ThumbnailRow{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
/* responsive for mobile and tablet */

@media screen and  (max-width:572px){
.Videobox {
  width: 30vw;
  height: 20vw;
  margin-right: 1vw;
  border-radius: 5px;
  object-fit: cover;
}
.PlaylistMainContainer {
  margin-top: 3vw;
  height: auto;
  margin-left: 5px;
  width: 100%;
  
  
}
.PlaylistThumbnail {
 display:flex;
  font-size: 4.5vw;
  font-weight: 400;
margin-left: 5px;



}
.ThumbnailRow{
    margin-right: 5vw;
    white-space:wrap;
    gap: 0vw;

}
.icon {
  cursor: pointer;
  height: 7vw;
  padding-top: 1vw;
 
}
.views {
  font-size: 10px;
  font-weight: 200;
  color: grey;
  margin-left: 5px;
}
.Channel {
  font-weight: 200;
  color: grey;
  font-size: 10px;
  margin-left: 5px;
}
.Playlist {
  width: 100%;
  margin-left: 1vw;
  align-items: flex-start;
  margin-bottom: 4vw;
}

}

/* responsive for max 768px */

@media screen and (min-width:573px) and (max-width:768px){
.PlaylistMainContainer {
  margin-left: 1px;
  width: 65%;
  

}
.PlayListInfo {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.PlaylistThumbnail {
flex: 1;
font-size: 10px;
}
.ThumbnailRow{

    width: 100%;
    gap: 1px;
}
.Videobox {
  width: 20vw;
  height: 9vw;
  margin-right: 1vw;
  border-radius: 5px;
  object-fit: cover;
}
.views {
  font-size: 10px;
}
.Channel {
  font-weight: 200;
  color: grey;
  font-size: 10px;
  margin-left: 0;
}

} 
@media screen and (min-width:769px) and (max-width:1024px){
  .PlaylistMainContainer {
  margin-left: 5px;
  width: 97%;
}
.Videobox {
  width: 20vw;
  height: 9vw;
  margin-right: 1vw;
  border-radius: 5px;
  object-fit: cover;
}
.Playlist {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 1vw;
  align-items: flex-start;
  margin-bottom: 3vw;
}
.PlaylistThumbnail {
 display: inline;
  font-size: 2vw;
  font-weight: 400;
  width: auto;
  word-break: break-word;
flex: 1;
}
  
}
/*  */
@media screen and (min-width:1025px) and (max-width:1440px){
  .PlaylistMainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  height: auto;
  margin-left: 1px;
  width: 75%;
  
}
.Playlist {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 0vw;
  align-items: flex-start;
  margin-bottom: 1vw;
}
.PlayListInfo {
  width: 100%;
  box-sizing: border-box;
}
.Videobox {
  width: 13vw;
  height: 7vw;
  margin-right: 1vw;
  border-radius: 5px;
  object-fit: cover;
}
.PlaylistThumbnail {
 display: inline;
  font-size: 13px;
  font-weight: 400;
  width: auto;
  word-break: break-word;
flex: 1;
}
.Channel {
  font-weight: 200;
  color: grey;
  font-size: 13px;
}
.views {
  font-size: 13px;
  font-weight: 200;
  color: grey;
}
.icon {
  cursor: pointer;
}
.ThumbnailRow{
    display: flex;
    justify-content: space-between; 
    word-wrap:break-word;
    align-items: flex-start;
}
}
/* r */
@media screen and (min-width:1441px) and (max-width:2550px){
  .PlaylistMainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  height: auto;
  margin-left: 5px;
  width: 70%;
  
}
.Playlist {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 0vw;
  align-items: flex-start;
  margin-bottom: 1vw;
}
.PlayListInfo {
  width: 100%;
  box-sizing: border-box;
}
.Videobox {
  width: 13vw;
  height: 7vw;
  margin-right: 1vw;
  border-radius: 5px;
  object-fit: cover;
}
.PlaylistThumbnail {
 display: inline;
  font-size: 1.2vw;
  font-weight: 400;
  width: auto;
  word-break: break-word;
flex: 1;
}
.Channel {
  font-weight: 200;
  color: grey;
  font-size: 20px;
}
.views {
  font-size: 20px;
  font-weight: 200;
  color: grey;
}
.icon {
  cursor: pointer;
}
.ThumbnailRow{
    display: flex;
    justify-content: space-between; 
    word-wrap:break-word;
    align-items: flex-start;
}
}

