.PlaylistMainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  height: auto;
  margin-left: 5px;
  width: 28vw;
}
.Playlist {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 1vw;
  align-items: flex-start;
  margin-bottom: 1vw;
}
.PlayListInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
}
.Videobox {
  width: 10vw;
  height: 7vw;
  margin-right: 1vw;
  border-radius: 5px;
  object-fit: cover;
}
.PlaylistThumbnail {
 display: inline;
  font-size: 13px;
  font-weight: 400;
  width: auto;
  word-break: break-word;
flex: 1;
}
.Channel {
  font-weight: 200;
  color: grey;
  font-size: 13px;
}
.views {
  font-size: 13px;
  font-weight: 200;
  color: grey;
}
.icon {
  cursor: pointer;
}
.ThumbnailRow{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
