.VideosContainer {
  margin-left: 6vw;
  /* height: 50px; */
  margin-top: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.Videobox {
  height: 35vw;
  width: 100vw;
  border: none;
  border-radius: 10px;
  object-fit: cover;
}

.Start {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Perfect center */
  cursor: pointer;
  background: none;
  border: none;
  z-index: 10;
}
.Pause {
  cursor: pointer;
  position: absolute;
  display: none;
}
.VideoController {
  position: absolute;
}
