.VideosContainer {
  margin-left: 10vw;
  /* height: 50px; */
  margin-top: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.Videobox {
  height: 54vh;
  width: 50vw;
  border: none;
  border-radius: 10px;
  object-fit: cover;
}
