.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.dialog {
  /* background: #fff; */
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 1.5rem;
  /* border-radius: 10px; */
  width: 300px;
  max-width: 80%;
  position: relative;
}
:global(html.light) .dialog {
  background-color: white;
}
.closeButton {
  position: absolute;
  right: 12px;
  top: 1px;
  border: none;
  background: transparent;
  font-size: 1.2rem;
  cursor: pointer;
  color: white;
}
:global(html.light) .closeButton {
  color: black;
}
.optionList {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.optionList li {
  margin-bottom: 0.5rem;
}

.applyButton {
  background: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 2vh;
}


.reimlabel {
  color: white;
}
:global(html.light) .reimlabel {
  color: black;
}
.customDropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.4rem;
  border-radius: 8px;
  min-width: 18vw;
  cursor: pointer;
}

:global(html.light) .customDropdown {
  border: 1px solid rgba(0, 0, 0, 0.61);
}
.leftSide {
  display: flex;
  align-items: center;
  gap: 8px;
}
.icon {
  color: #aaa;
  font-size: 1rem;
}
.arrowIcon {
  color: #aaa;
  font-size: 0.8rem;
}