.templet {
  display: flex;
  flex-direction: row;
  padding: 2vh 1vw;
  width: inherit;
  height: 65vh;
}

.lablesection {
  width: 20%;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 2.2vh;
  color: aliceblue;
}

.maincontainer {
  display: flex;
  flex-direction: row;
  padding: 1vh 2vw;
}

.card {
  display: flex;
  flex-direction: column;
  width: 23vw;
  height: 30vh;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 0.5rem 1rem;
}

.headlline {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 0.5rem;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 2vh;
}

.profileImage {
  width: 6vh;
  height: 6vh;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  color: aliceblue;
  font-size: 1.1vw;
  font-weight: 400;
}

.shift {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6vw;
  height: 4vh;
  border: 1px solid rgba(3, 49, 255, 0.604);
  border-radius: 8px;
  color: rgb(175, 175, 175);
  font-size: 0.8vw;
}
.infocard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  padding-top: 1rem;
}
.checkin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.infolable {
  font-size: 0.8vw;
  color: beige;
}
.photo {
  width: 8vh;
  height: 8vh;
  object-fit: cover;
  border-radius: 50%;
}
.infovalue {
  font-size: 0.8vw;
  color: rgb(184, 183, 183);
}
.button {
    padding-top: 2rem;
  height: 6vh;
  border-radius: 8px;
  background-color: rgba(0, 0, 255, 0.055);
  border: 1px solid rgba(3, 49, 255, 0.604);
  font-size: 1vw;
  color: beige;
  padding: 0.1rem;
}
.line {
  height: 8vh;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 615px) {
  .templet {
    display: flex;
    flex-direction: column;
    /* padding: 0; */
    /* width: inherit; */
    height: auto;
  }

  .lablesection {
    width: 100%;
    height: 100%;
    border-right: none;
    font-size: 2vh;
    /* color: aliceblue; */
  }

  .maincontainer {
    /* display: flex;
  flex-direction: column; */
    padding: 1vh 1vw;
  }

  .card {
    /* display: flex;
  flex-direction: column; */
    width: 85vw;
    height: auto;
    /* border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px; */
    padding: 2vh 3vw;
  }

  .profileImage {
    width: 10vw;
    height: 10vw;
    /* object-fit: cover;
  border-radius: 50%; */
  }

  .name {
    /* color: aliceblue; */
    font-size: 2vh;
    /* font-weight: 400; */
  }

  .leftSection {
    /* display: flex;
  align-items: center; */
    justify-content: space-between;
    gap: 2vw;
  }

  .shift {
    /* display: flex;
  justify-content: center;
  align-items: center; */
    width: fit-content;
    height: auto;
    /* border: 1px solid rgba(3, 49, 255, 0.604);
  border-radius: 8px;
  color: rgb(175, 175, 175); */
    font-size: 1.8vh;
    padding: 0.5vh 2vw;
  }

  .infovalue,
  .infolable {
    font-size: 1.5vh;
    /* color: beige; */
  }

  .button {
  /* margin-top: 1rem;
  height: 5vh;
  border-radius: 8px;
  background-color: rgba(0, 0, 255, 0.055);
  border: 1px solid rgba(3, 49, 255, 0.604); */
  font-size: 2vh;
  /* color: beige; */
}
}
