.OvertimeMain {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 2vw;



}
:global(html.light) .OvertimeMain  {
  background-color: white;

}

.Container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 40vw;
    background-color: rgb(36, 35, 35);
    padding: 1vh 1vw;
    border-radius: 10px;
    /* justify-content: center; */
    /* align-items: center; */
}
:global(html.light) .Container  {
  background-color: rgb(236, 232, 232);

}


.Heading {
    font-size: 1.56vw;
    display: flex;
    align-self: flex-start;

}
:global(html.light) .Heading {
  color: black;

}


.ChartMain {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}

.AttendanceLineSec {
    display: flex;
    flex-direction: column;

}

.LineBackground {
    height: 10px;
    background-color: #555;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 20vw;
}

.LineFill {
    height: 100%;
    background: linear-gradient(90deg, #00c853, #4caf50);
    border-radius: 10px 10px 10px 10px;
    width: 0%;
    transition: width 1.2s ease-in-out;

}

.HrsInfo {
    color: grey;
    font-size: 0.9vw;
    padding-bottom: 0.2vw;
}
:global(html.light) .HrsInfo {
  color: black;

}

.piebox {
    /* background-color: #2a2a2a; */
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vw;
    flex-direction: column;
}

.HrsInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.workingDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2vw;
    /* align-self: self-start; */

}
@media screen and (max-width:425px) {
    .OvertimeMain{
        display: none;
    }
    
}