.container {
  display: flex;
  flex-direction: column;
  padding: 1vh;
  gap: 5vh;
}

.section {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.headline {
  margin: 1vh 0 1vh 2vh;
  font-size: 2.5vh;
  color: rgb(217, 215, 215);
}

.table {
  width: 100%;
  border-collapse: collapse;
  /* font-size: 1vh; */
  color: #e5e5e5;
}

.table th,
.table td {
  padding: 1.3vh 3vh;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 1.8vh;
}

.table th {
  background-color: #161616;
  font-weight: 500;
  color: #878787;
}

.rejectedStatus,
.approvedStatus {
  color: #22c55e;
  background-color: rgba(34, 197, 94, 0.15);
  padding: 0.5vh 1vh;
  border-radius: 20px;
  font-size: 2vh;
}

.rejectedStatus {
  color: rgb(255, 17, 17);
  background-color: rgb(249, 73, 73, 0.15);
}

@media screen and (max-width: 1024px) and (min-width: 616px) {
  .table th,
  .table td {
    padding: 1vh 1.1vh;
    font-size: 1.5vh;
  }

  .headline {
    font-size: 2vh;
  }

  .rejectedStatus,
  .approvedStatus {
    font-size: 1.5vh;
  }
}
