.wholeContainer {
  width: 100%;
  display: flex;
}

.firstSection {
  margin-top: 1vh;
  width: 25%;
  height: 70vh;
  color: white;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.secondSection {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  color: white;
  margin-top: 3vh;
  margin-left: 1vw;
  overflow-y: auto;
  scrollbar-width: none;
}

/* search container css only rest in attendancesection.module.css  */

.searchContainer {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  width: 18vw;
  margin: 2vh 2vw 0 1vw;
}

/* filter */

.filterText {
  font-family: "Playfair Display", serif;
  font-size: 1.1rem;
  padding: 2vh 0 1vh 1.5vw;
}
.filterSection {
  width: 100%;
  display: flex;
}

.iconContainer {
  width: 30%;
}

.plusIcon {
  margin-top: 2vh;
  margin-left: 3vh;
  padding: 1vh;
  cursor: pointer;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.plusIcon:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.dropdown {
  position: fixed;
  /* top: 52vh; */
  left: 2vw;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 4px;
  width: 12vw;
  color: black;
  font-size: 0.8rem;
}

.dropdownItem {
  padding: 1vh;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #9c9c9c;
}

/* reject approve  */

.filteringDataSection {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  position: absolute;
  bottom: 20;
  left: 10;
  width: 13%;
  padding: 1vh;
  z-index: 500;
}

.pendingDataButton,
.rejectDataButton,
.approveDataButton {
  border: 1px solid green;
  background-color: rgb(0, 128, 0, 0.1);
  border-radius: 20px;
  padding: 1vh 0.5vw 1vh 1vw;
  cursor: pointer;
  font-size: 0.8rem;
}

.rejectDataButton {
  border: 1px solid red;
  background-color: rgb(255, 0, 0, 0.1);
}

.rejectDataButton:hover {
  background-color: rgb(255, 0, 0, 0.3);
  transform: scale(1.02);
}

.approveDataButton:hover {
  background-color: rgb(0, 128, 0, 0.3);
  transform: scale(1.02);
}

.pendingDataButton {
  border: 1px solid orange;
  background-color: rgb(255, 172, 18, 0.1);
}

.pendingDataButton:hover {
  background-color: rgb(255, 172, 18, 0.3);
  transform: scale(1.02);
}
/* option section  */

.optionRendering {
  width: 80%;
  margin-top: 2vh;
  margin-left: 1vw;
}

.options {
  margin-top: 1vh;
  display: flex;
  gap: 1vw;
  width: fit-content;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 0.5vh 1.5vw;
  cursor: pointer;
  font-size: 0.8rem;
}

.disabledItem {
  pointer-events: none;
  color: #999;
}

/* sections  */

.shiftRequestsSection,
.reimbursementSection,
.regularizationSection,
.assetSection,
.weekoffSection,
.leaveSection {
  width: 24vw;
  height: 50vh;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  gap: 3vh;
  padding: 2vh;
  overflow-y: auto;
  scrollbar-width: none;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.pendingCircle {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  background-color: #1c1c1c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

/* leaveCarddata */

.weekoffCard,
.leaveCard {
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease;
  width: 22vw;
  height: 20vh;
}
.weekoffCard {
  height: 15vh;
}

.weekoffCard:hover,
.leaveCard:hover {
  transform: scale(1.02);
}
.shiftCardHeader,
.reimCardHeader,
.reguCardHeader,
.assetCardHeader,
.weekOffCardHeader,
.cardHeader {
  background: linear-gradient(
    to right,
    rgb(240, 2, 240, 0.4),
    rgb(252, 182, 51, 0.6)
  );
  display: flex;
  align-items: center;
  gap: 1vw;
  padding: 0.5vh 1vw 0.5vh 1vw;
  justify-content: space-between;
}

.weekOffCardHeader {
  background: linear-gradient(
    to right,

    rgba(243, 243, 5, 0.6),
    rgb(252, 182, 51, 0.6)
  );
}

.assetCardHeader {
  background: linear-gradient(
    to right,
    rgb(25, 126, 160),
    rgb(252, 182, 51, 0.6)
  );
}

.reguCardHeader {
  background: linear-gradient(
    to right,
    rgb(177, 38, 61),
    rgb(252, 182, 51, 0.6)
  );
}

.reimCardHeader {
  background: linear-gradient(
    to right,
    rgb(62, 62, 62),
    rgb(252, 182, 51, 0.6)
  );
}

.shiftCardHeader {
  background: linear-gradient(to right, green, rgb(252, 182, 51, 0.6));
}

.nameSection {
  display: flex;
  align-items: center;
  gap: 1vh;
}

.profilePic {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
}

.employeeName {
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
}

.cardBody {
  color: #f0f0f0;
}

.firstRow {
  margin: 1vh 1vw 0 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leaveType {
  font-size: 0.8rem;
}

.daysBox {
  background-color: #292929;
  color: #ffb347;
  padding: 0.5vh 1.5vh;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: bold;
}

.secondRow {
  display: flex;
  justify-content: space-between;
  font-size: 2vh;
  color: #ccc;
  margin: 1vh 1vw 1vh 1vw;
}

.thirdRow {
  font-size: 2vh;
  color: #ccc;
  margin: 1vh 1vw 1vh 1vw;
  word-break: break-word;
}

@media screen and (max-width: 1024px) and (min-width: 616px) {
  .filterText {
    font-size: 2vh;
  }

  .plusIcon {
    margin-top: 1vh;
    margin-left: 1vh;
    padding: 0.5vh;
  }

  .options {
    margin-top: 0vh;
    gap: 0.5vw;
    padding: 0.2vh 1vw;
    font-size: 1.5vh;
  }

  .pendingDataButton,
  .rejectDataButton,
  .approveDataButton {
    padding: 1vh 0.5vw 1vh 1vw;
    font-size: 1.5vh;
  }

  .dropdown {
    top: 42vh;
    left: 1vw;
    font-size: 1.5vh;
  }

  .secondSection {
    margin-top: 1vh;
    margin-left: 1vw;
  }

  .shiftRequestsSection,
  .reimbursementSection,
  .regularizationSection,
  .assetSection,
  .weekoffSection,
  .leaveSection {
    width: 22vw;
    height: 45vh;
    gap: 2vh;
    padding: 2vh;
  }

  .sectionHeader {
    font-size: 2vh;
  }

  .pendingCircle {
    width: 2.5vw;
    height: 2.5vw;
    font-size: 1.5vh;
  }

  .weekoffCard,
  .leaveCard {
    width: 22vw;
    height: 15vh;
  }

  .shiftCardHeader,
  .reimCardHeader,
  .reguCardHeader,
  .assetCardHeader,
  .weekOffCardHeader,
  .cardHeader {
    padding: 0.2vh 0.5vw 0.2vh 0.5vw;
  }

  .daysBox {
    padding: 0.5vh 1vh;
    font-size: 1.3vh;
  }

  .firstRow {
    margin: 0.5vh 0.5vw 0 0.5vw;
  }

  .leaveType {
    font-size: 1.7vh;
  }

  .secondRow {
    font-size: 1.7vh;
    margin: 0.5vh 0.5vw 0 0.5vw;
  }

  .thirdRow {
    font-size: 1.7vh;
    margin: 0.5vh 0.5vw 0 0.5vw;
  }
}

@media screen and (max-width: 615px) {
  .wholeContainer {
    display: block;
  }

  .firstSection {
    margin-top: 0vh;
    width: 100%;
    height: auto;
  }

  .secondSection {
    margin-top: 10vh;
  }

  .filterText {
    display: none;
  }

  .optionRendering {
    width: 100%;
    margin-top: 1vh;
    margin-left: 0;
    display: flex;
    gap: 2vw;
    overflow-x: auto;
    scrollbar-width: none;
  }

  .filteringDataSection {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    position: absolute;
    bottom: auto;
    left: auto;
    width: 100%;
    padding: 1vh 1vw;
    z-index: 500;
  }

  .pendingDataButton,
  .rejectDataButton,
  .approveDataButton {
    padding: 1vh 2vw;
    font-size: 1.5vh;
  }

  .shiftRequestsSection,
  .reimbursementSection,
  .regularizationSection,
  .assetSection,
  .weekoffSection,
  .leaveSection {
    width: 85vw;
    height: 50vh;
    margin: 1vh;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
  }

  .weekoffCard,
  .leaveCard {
    width: auto;
    height: auto;
  }
}
