.dialogOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.dialogBox {
  background: black;
  /* color: rgb(150, 150, 150); */
  padding: 2vh;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 40vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  height: auto;
}

.upperSection {
  height: 21vh;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ccc;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
}

.dialogHeader {
  font-size: 2.5vh;
  color: white;
  font-weight: 300;
}

.dateSectionWeekOff,
.dateSection {
  margin: 2vh 1vh 1vh 1vh;
  width: auto;
  height: 12vh;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dateSectionWeekOff {
  justify-content: space-evenly;
}

.appliedOn,
.number,
.date {
  display: flex;
  flex-direction: column;
  margin-top: 0.5vh;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding-right: 2vw;
  padding-left: 1vw;
}

.number {
  border: none;
}

.sectionhead {
  color: rgb(139, 138, 138);
  font-size: 1.7vh;
}

.sectionvalue {
  font-size: 2vh;
}

.lowerShiftSection,
.lowerReimSection,
.lowerReguSection,
.lowerAssetSection,
.lowerWeekOffSection,
.lowerSection {
  height: fit-content;
  border-left: 10px solid purple;
  background-color: rgba(255, 255, 255, 0.1);

  box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.3),
    inset 0 -10px 20px rgba(0, 0, 0, 0.3);
  padding-bottom: 2vh;
}

.lowerWeekOffSection {
  border-left: 10px solid orange;
}

.lowerAssetSection {
  border-left: 10px solid rgb(25, 126, 160);
}

.lowerReguSection {
  border-left: 10px solid rgb(177, 38, 61);
}

.lowerReimSection {
  border-left: 10px solid rgb(80, 79, 79);
}

.lowerShiftSection {
  border-left: 10px solid green;
}

.statusButton {
  border: 2px solid orange;
  background-color: rgb(243, 196, 108, 0.2);
  padding: 0.5vh 1vw 0.5vh 1vw;
  margin: 1vh;
  border-radius: 20px;
  display: flex;
  font-size: 2vh;
}

.empName {
  font-size: 3vh;
}

.empPhone {
  font-size: 2vh;
}

.name {
  display: flex;
  justify-content: space-between;
  padding: 2vh 2vw 0 2vw;
}

.details {
  padding: 2vh 2vw 0 2vw;
}

.reason,
.type {
  font-size: 2.2vh;
  font-weight: normal;
  color: #c6c6c6;
  margin-top: 0.5vh;
}

.attachment {
  margin-top: 1vh;
  margin-left: 1vw;
  font-size: 2vh;
  color: rgb(45, 195, 245);
}

.reimTwoAttachments {
  display: flex;
  gap: 3vw;
}

.subBottomSection {
  display: flex;
  justify-content: space-between;
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profilePic {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
}

.forback {
  margin: 2vh;
  display: flex;
  gap: 0.5vw;
  align-items: center;
}

.iconCircle {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: grey;
}

.iconCircle:hover {
  background-color: #363535;
  color: white;
}

.cardCount {
  font-size: 2vh;
}

.rejapprove {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.rejectButton {
  width: 2vw;
  height: 2vw;
  border: 1px solid red;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.crossIcon {
  color: red;
  font-size: 2vh;
}

.rejectButton:hover {
  background-color: rgba(255, 0, 0, 0.05);
}

.approveButton {
  padding: 1vh 1.5vh;
  border: 1px solid green;
  background-color: rgb(107, 226, 107, 0.1);
  font-size: 2vh;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.approveButton:hover {
  background-color: rgb(25, 81, 25);
}

.approveToolTip,
.rejectionTooltip {
  position: absolute;
  bottom: -15vh;
  right: 10vw;
  background-color: white;
  border: 1px solid #ccc;
  padding: 1vh;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 17vw;
}

.approveToolTip {
  right: -15vw;
  bottom: -17vh;
}

.approveTextArea,
.rejectionTextarea {
  width: 15vw;
  height: 60px;
  resize: none;
  padding: 1vh;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 2vh;
}

.submitRejection {
  margin-top: 8px;
  padding: 6px 10px;
  background-color: rgb(14, 138, 180);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-size: 2vh;
}

@media screen and (max-width: 615px) {
  .dialogBox {
    padding: 1vh;
    width: 90vw;
  }

  .sectionhead {
    font-size: 1.3vh;
  }

  .sectionvalue {
    font-size: 1.5vh;
  }

  .profilePic {
    width: 10vw;
    height: 10vw;
  }

  .empName {
    font-size: 2vh;
  }

  .empPhone {
    font-size: 1.5vh;
  }

  .statusButton {
    padding: 1vh 2vw;
    font-size: 1.5vh;
  }

  .reason,
  .type {
    font-size: 2vh;
  }

  .attachment {
    font-size: 1.5vh;
  }

  .iconCircle {
    width: 5vw;
    height: 5vw;
  }

  .rejectButton {
    width: 8.5vw;
    height: 8.5vw;
  }

  .approveToolTip {
    right: -1vw;
    width: auto;
  }

  .approveTextArea,
  .rejectionTextarea {
    width: 30vw;
    height: 10vh;
  }

  .rejectionTooltip {
    bottom: -15vh;
    right: 10vw;
    width: auto;
  }
}
