.ConfigMain {
  height: 100vh;
  background-image: url(/images/AmentiesBg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
}
.ConfigMain::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  height: 100%;
  background: rgba(0, 0, 0, 0.899);
  z-index: 1;
}
.ConfigMain::after {
  position: relative;
  z-index: 1;
  color: white;
}
.configHeader {
  font-size: 3vw;
  font-weight: 700;
}
.configStart {
  position: absolute;
  color: white;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 15%;
  gap: 10vw;
  align-items: center;
}
.FlatBtns {
  display: flex;
  gap: 2vw;
}
.BtnDesgin {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gold;
  border-radius: 3px;
  background-color: black;
  width: 12vw;
  height: 4vw;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: white;
  z-index: 0;
}
.BtnDesgin::before {
  content: "";
  position: absolute;
  background-color: gold;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  z-index: 0;
}
.BtnDesgin:hover::before {
  transform: scaleX(1);
}
.BtnDesgin:hover {
  color: black;
}
.BtnDesgin span {
  z-index: 1;
}
.CardsMain {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
  margin-top: 15vw;
  gap: 2vw;
  margin-right: 10vw;
  justify-content: center;
  flex-wrap: wrap;
  left: 5%;
}
.cardInfo {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  z-index: 2;
  text-align: center;
  color: white;
  border: none;
  height: 25vw;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}
.CardImg {
  height: 12vw;
  width: 17vw;
  border-radius: 10px;
  transition: trasnform 0.5s ease;
  object-fit: cover;
}
.CardImg:hover {
  transform: scale(1.08);
}
.CardSubInfo {
    width: 100%;
    white-space: wrap;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-top: 1vw;
  }
@media screen and (min-width: 200px) and (max-width: 615px) {
  .configHeader {
    font-size: 1.5rem;
  }
  .configStart {
    top: 2%;
    gap: 2vh;
    white-space: wrap;
    display: flex;
  left: 4%;
    flex-direction: column;
  }
  .FlatBtns {
    display: flex;
    gap: 2vw;
    white-space: wrap;
    
  }
  .BtnDesgin {
    width: 20vw;
    height: 5vh;
    
  }
  .CardsMain {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    gap: 1rem;
    margin-right: 2rem;
    left: 5%;
  }
  .CardImg {
    height: 22vh;
    width: 50%;
    border-top-left-radius: 10px;
  }
  .cardInfo {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    z-index: 2;
    text-align: center;
    color: white;
    border: none;
    height: 22vh;
    border-radius: 20px;
  }
  .CardSubInfo {
    width: 100%;
    white-space: normal;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    margin-top: 2vw;
  }

}

/* responsive for 616px to 1024px */
@media screen and (min-width:616px) and (max-width:1024px){
  .configHeader {
  font-size: 2.5rem;
  font-weight: 700;
}
.configStart {
  top: 5%;
  gap: 10vw;
  left: 5%;
}
.FlatBtns {
  display: flex;
  gap: 2vw;
}
.BtnDesgin {
  width: 17vw;
  height: 8vh;
}
.CardsMain {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 1;
  margin-top: 15vw;
  gap: 2vw;
  justify-content: center;
  flex-wrap: nowrap;
  left: 5%;
  width: 90%;
}
.cardInfo {
  gap: 1vw;
  z-index: 2;
  text-align: center;
  color: white;
  border: none;
  height: 60vh;
  border-radius: 10px;
  width: 100%;

}
.CardImg {
  height: 30vh;
  width: 100%;
   overflow: hidden; 

}
  .CardSubInfo {
    width: 100%;
    white-space: wrap;
    font-size: 1.1rem;

    flex-direction: column;
    gap: 2vw;
    margin-top: 2vw;
  }

}