.DisMain {
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 100%;
  background-image: url("/images/DisImage.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  align-items: center;
  position: relative;
}
.DisInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  color: white;
  align-items: center;
  z-index: 1;
  max-width: 50%;
  margin-left: 2vw;
  margin-top: 0vw;
}
.Heading {
  font-size: 5vh;
}
.DisDetail {
  font-size: 1rem;
  width: 90%;
  line-height: 1.5em;
  transition: max-height 0.4s ease;
  overflow: hidden;
  margin-bottom: 3vw;
  text-align: justify;
  text-justify: inter-word;
  text-indent: 1.5em;
}
.clamp {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.KnowMoreBtn {
  border: 2px solid rgb(101, 101, 252);
  padding: 2vh 5vw;
  font-weight: 700;
  cursor: pointer;
  background: transparent;
  border-radius: 3px;
  transition: background-color 1s ease;
}
.KnowMoreBtn:hover {
  background-color: rgb(101, 101, 252);
}
.CloseDiscInfoBtn {
  border: none;
  background-color: black;
  color: white;
  height: 2vw;
  width: 4vw;
  border-radius: 10px;
  cursor: pointer;
}

.ContactHeading {
  color: rgb(164, 152, 152);
  margin-bottom: 0.5vw;
  margin-top: 1vw;
}
.Number {
  color: orange;
}
.DisMain::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  height: 100%;
  background: rgba(0, 0, 0, 0.899);
  z-index: 1;
}
.DisMain::after {
  position: relative;
  z-index: 1;
  color: white;
}
.FullInfoMain {
  position: fixed;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 2vh;
  justify-content: center;
  align-items: center;
  top: 20%;
  left: 20%;
  bottom: 10%;
  z-index: 999;
  padding: 2vh 30vw;
  height: 70vh;
  border-radius: 10px;
}
.FullDis {
  display: flex;
  flex-direction: column;
  width: 50vw;
}
.ParentImage {
  height: 60vh;
  width: 25vw;
  position: absolute;
  top: 105%;
  right: 3%;
  z-index: 1;
  object-fit: cover;
}
.ChildImage {
  height: 35vh;
  width: 15vw;
  position: absolute;
  top: 145%;
  right: 20%;
  z-index: 1;
  object-fit: cover;
}
.LandmarkMain {
  position: absolute;
  display: flex;
  left: 52%;
  top: 15%;
  flex-direction: column;
  align-items: center;
}

.LandMarkIcon {
  position:relative;
  z-index: 10;
  color: rgb(253, 181, 47);
  height: 10vh;
  width: 3vw;
  animation: popUpDown 1s ease-in-out infinite;
  cursor: pointer;

}
.IconBottom {
  position: relative;
  z-index: 9;
  height: 4vh;
  width: 3vw;
  background-color: #333;
  border-radius: 50%;
  margin-top: -1.5rem;
  
}
.LandmarkAbout {
  color: rgb(179, 135, 53);
  font-size: 1vw;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 1rem;
  z-index: 5;
  border: none;
  height: 10vh;
  width: 10vw;
  padding: 1vw;
  top: 30%;
  left: 5%;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: normal;
  word-wrap: break-word;
text-align: center;

}
.LandMarkIcon:hover +.LandmarkAbout,
.LandmarkMain:hover .LandmarkAbout {
  pointer-events: auto;
  opacity: 1;
}
.primeMain{
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.849);
}
.primeContent{
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 20%;
}
.PrimeHeading{
  font-size: 2.5vw;
  color: rgb(152, 112, 38);
  
}
.PrimeTag{
  font-size: 1.5vw;
  /* word-break: break-all; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.primeImagesContainer{
  display: flex;
  flex-direction: row;
  gap: 5vw;
  margin-top: 2vw;
  
}
.PrimeCircle{
  border: 1px solid white;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  padding: 2vh 2vw;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  cursor: pointer;
}
.primeimg{
  height: 7vh;
  width:5 vw;
  transition: transform 0.3s ease-in-out;
}
.primeimg:hover{
  transform: scale(2);
}
.PrimeText{
  width: 52%;
  display: flex;
  text-align: center;
  word-break: normal;
  white-space: normal;
  margin-top: 10rem;
  position: absolute;
  word-break: break-all;
  opacity: 0;
}
  .primeimg:hover +.PrimeText{
  opacity: 1;
}



@keyframes popUpDown {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
    transform: translateY(-15px);
  }
}
.LocationHeading {
  font-size: 2rem;
  color: rgb(152, 112, 38);
}

.LandMarkImg {
  height: 10vh;
  width: 7vw;
  border: 1px solid grey;
  padding: 3vh 2vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #333;
}
.LandMarkImg img {
  transition: transform 0.3s ease-in-out;
}

.LandMarkImg:hover img {
  transform: scale(1.5);
}
.LandMarkImg p {
  display: none;
  margin-top: 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: white;
}
.LandMarkImg:hover p {
  display: block;
  width: 100%;
  white-space: nowrap;
}

/* responsive for mobile and tablet */
@media screen and (min-width: 200px) and (max-width: 615px) {
  .DisMain {
    display: flex;
    flex-direction: column;
    height: 120vh;
    width: 100%;
  }
  .DisInfo {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    color: white;
    align-items: center;
    z-index: 1;
    max-width: 80%;
    margin-left: 0vw;
    margin-top: 2vw;
    gap: 3vw;
  }
  .Heading {
    font-size: 4vh;
    white-space: nowrap;
  }
  .DisDetail {
    font-size: 0.7rem;
    width: 100%;
    line-height: 1.5em;
    transition: max-height 0.4s ease;
    overflow: hidden;
    margin-bottom: 2vw;
    text-align: justify;
    text-justify: inter-word;
  }
  .ParentImage {
    height: 15rem;
    width: 12rem;
    position: absolute;
    top: 160%;
    left: 30%;
    right: 3%;
    z-index: 1;
    object-fit: cover;
  }
  .ChildImage {
    height: 8rem;
    width: 7rem;
    position: absolute;
    top: 185%;
    left: 15%;
    z-index: 1;
    object-fit: cover;
  }

  .FullDis {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    font-size: 0.9rem;
  }
  .FullInfoMain {
    width: 90%;
    justify-content: flex-start;
    align-items: center;
    top: 10%;
    left: 10%;
    bottom: 10%;
    z-index: 4;
    padding: 2vh 30vw;
    height: auto;
    border-radius: 10px;
    overflow-y: auto;
    box-sizing: border-box;
  }
  .CloseDiscInfoBtn {
    height: 4vh;
    width: 15vw;
  }
  .ContactHeading {
    color: rgb(164, 152, 152);
    margin-bottom: 0.2vw;
    margin-top: 0.5vw;
    font-size: 0.8rem;
  }
  .LandmarkMain {
  position: absolute;
  display: flex;
  left: 5%;
  top: 50%;
  flex-direction: column;
  align-items: center;
}

.LandMarkIcon {
  height: 10vh;
  width: 7vw;

}
.IconBottom {
  z-index: 9;
  height: 4vh;
  width: 7vw;
  border-radius: 50%;
  margin-top: -1.8rem;
  
}
.LandmarkAbout {
  font-size: 0.6rem;
  margin-top: 1rem;
  z-index: 5;
  border: none;
  height: 12vh;
  width: 20vw;
  padding: 2vh 1.5vw;
  top: 30%;
  left: 5%;
}
.LandMarkIcon:hover +.LandmarkAbout,
.LandmarkMain:hover .LandmarkAbout {
  pointer-events: auto;
  opacity: 1;
}
.primeContent{
  top: 30%;
  gap: 2vw;
}
.PrimeHeading{
  font-size: 1.5rem;
  color: rgb(152, 112, 38);
  
}
.PrimeTag{
  font-size: 0.8rem;

}
.PrimeCircle{
  border: 1px solid white;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  padding: 2vh 2vw;

}
.PrimeText{
  width: 100%;
 font-size: 0.9rem;
 
}
.PrimeTextOne{
  margin-left: 15rem;
}
.PrimeTextTwo{
    margin-left: 7rem;
}

.FirstPrime{
  padding-left: 0vw;
}
.PrimeTextFour{
  padding-right: 35vw;
}
.primeImagesContainer{
  padding: 2vh ovw;
 
}



}
@media screen and (min-width: 616px) and (max-width: 1440px) {
    .Heading {
    font-size: 4vh;
    white-space: nowrap;
  }
  .FullDis {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    font-size: 0.9rem;
  }
  .FullInfoMain {
    width: 90%;
    justify-content: flex-start;
    align-items: center;
    top: 15%;
    left: 5%;
    bottom: 10%;
    z-index: 4;
    padding: 2vh 30vw;
    height: auto;
    border-radius: 10px;
    overflow-y: auto;
    box-sizing: border-box;
  }
  .CloseDiscInfoBtn {
    height: 4vh;
    width: 12vw;
  }
  .ParentImage {
    height: 25vw;
    width: 25vw;
    position: absolute;
    top: 115%;
    right: 3%;
    z-index: 1;
    object-fit: cover;
  }
  .ChildImage {
    height: 15vw;
    width: 15vw;
    position: absolute;
    top: 150%;
    right: 20%;
    z-index: 1;
    object-fit: cover;
  }
}
@media screen and (min-width: 616px) and (max-width: 1000px) {
  .ParentImage {
    height: 25vw;
    width: 25vw;
    position: absolute;
    top: 105%;
    right: 3%;
    z-index: 1;
  }
  .ChildImage {
    height: 15vw;
    width: 15vw;
    position: absolute;
    top: 130%;
    right: 20%;
  }
   .ParentImage {
    height: 25vw;
    width: 25vw;
    position: absolute;
    top: 120%;
    right: 3%;
    z-index: 1;
    object-fit: cover;
  }
  .ChildImage {
    height: 18vw;
    width: 15vw;
    position: absolute;
    top: 140%;
    right: 20%;
    z-index: 1;
    object-fit: cover;
  }
    .LandmarkMain {
  position: absolute;
  display: flex;
  left: 50%;
  top: 20%;
  flex-direction: column;
  align-items: center;
}

.LandMarkIcon {
  height: 10vh;
  width: 5vw;

}
.IconBottom {
  z-index: 9;
  height: 4vh;
  width: 7vw;
  border-radius: 50%;
  margin-top: -1.5rem;
  
}
.LandmarkAbout {
  font-size: 0.6rem;
  margin-top: 0.5rem;
  z-index: 5;
  border: none;
  height: 10vh;
  width: 20vw;
  padding: 2vh 1.5vw;
  top: 30%;
  left: 5%;
}

}
