body {
  font-family: Poppins, sans-serif;
}
.building {
  height: 100%;
  position: relative;
  z-index: -1;
  filter: brightness(40%);
  width: 100%;
}
.ImageContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  align-items: center;
  overflow: hidden;
}
.ImageSlide {
  position: relative;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
.tagContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 45%;
  bottom: 45%;
  justify-content: center;
  animation: slidUpFade 1.5s ease forwards;
  animation-delay: 0.5s;
}
.tag {
  position: relative;

  color: gold;
  font-size: 1.5rem;
  font-weight: bold;
}
.desginImage {
  width: 10vw;
  height: 3vh;
  position: relative;
}
.headingOne {
  position: absolute;
  top: 59%;
  left: 30%;
  font-size: 10vh;
  text-align: center;
  line-height: 1;
  white-space: pre-line;
  animation: slidUpFade 1.5s ease forwards;
  animation-delay: 1.3s;
}
.headingTwo {
  position: absolute;
  bottom: 10%;
  left: 34%;
  font-weight: 700;
  font-size: 1.5rem;
  animation: slidUpFade 1.5s ease forwards;
  animation-delay: 1.6s;
}
.ScrollBtnMain {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 5vw;
  gap: 87vw;
  left: 4%;
  top: 70%;
  cursor: pointer;
  transition: hover 0.3s ease;
}
.ScrollBtn {
  position: absolute;
  height: 5vw;
}
.ScrollFilledBtn {
  position: absolute;
  height: 5vw;
  display: none;
}
.ScrollBtnFilledMain {
  flex-direction: row;
  position: relative;
  height: 5vw;
  gap: 80vw;
  left: 4%;
  top: 70%;
  cursor: pointer;
}
.ScrollBtnWrapper:hover .ScrollBtn {
  display: none;
}

.ScrollBtnWrapper:hover .ScrollFilledBtn {
  display: block;
}
/* animation for the scroll */

@keyframes slidUpFade {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* mobile resoponsive  and tablets*/
@media screen and (min-width: 200px) and (max-width: 615px) {
  .building{
  object-fit: cover;
  }
    .tagContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 60%;
  transform: translate(-50%,-50%);
  justify-content: center;
  animation: slidUpFade 1.5s ease forwards;
  animation-delay: 0.5s;
}
.headingOne {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4vh;
  text-align: center;
  line-height: 1;
  white-space: pre-line;
  animation: slidUpFade 1.5s ease forwards;
  animation-delay: 1.3s;
}
.headingTwo {
  position: absolute;
  bottom: 10%;
  left: 50%;
transform: translateX(-50%);
  font-weight: 700;
  font-size: 0.8rem;
  white-space: nowrap;
  animation: slidUpFade 1.5s ease forwards;
  animation-delay: 1.6s;
}
.desginImage {
  width: 50vw;
  height: 10vh;
  position: relative;
}
@keyframes slidUpFade {
  0% {
    opacity: 0;
    transform: translate(-50%, 80px); 
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
.ScrollBtn {
  position: absolute;
  height: 10vw;
}
.ScrollBtnMain {
  height: 10vw;
  gap: 87vw;
  left: 1%;
  top: 70%;
  cursor: pointer;
  transition: hover 0.3s ease;
}
.ScrollBtnFilledMain {
  flex-direction: row;
  position: relative;
  height: 10vw;
  gap: 87vw;
  left: 1%;
  top: 70%;
  cursor: pointer;
}
.ScrollFilledBtn {
  position: absolute;
  height: 10vw;
  display: none;
}

}
/* responsive for 616 to 1024px */

@media screen and (min-width:616px) and (max-width:1024px){
  .building{
  object-fit: cover;
  }
   .tagContainer {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.headingOne {
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
}
.headingTwo {
  bottom: 5%;
  left: 50%;   
transform: translateX(-50%);
  font-weight: 700;
  font-size: 1.5rem;
  white-space: nowrap;
}
@keyframes slidUpFade {
  0% {
    opacity: 0;
    transform: translate(-50%, 80px); 
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
.desginImage {
  width: 25vw;
  height: 5vh;

}
.ScrollBtn {

  height: 7vw;
}
.ScrollBtnMain {
  height: 5vw;

  left: 2%;
  top: 70%;

}
}
/* 1025 to 1444 */
@media screen and (min-width:1025px) and (max-width:1300px){
  .tagContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 45%;
  bottom: 45%;
  justify-content: center;
  animation: slidUpFade 1.5s ease forwards;
  animation-delay: 0.5s;
}
.tag {
  position: relative;

  color: gold;
  font-size: 1.5rem;
  font-weight: bold;
}
.desginImage {
  width: 10vw;
  height: 3vh;
  position: relative;
}
.headingOne {
  position: absolute;
  top: 59%;
  left: 28%;
  font-size: 10vh;
  text-align: center;
  line-height: 1;
  white-space: pre-line;
  animation: slidUpFade 1.5s ease forwards;
  animation-delay: 1.3s;
}
.headingTwo {
  position: absolute;
  bottom: 10%;
  left: 30%;
  font-weight: 700;
  font-size: 1.5rem;
  animation: slidUpFade 1.5s ease forwards;
  animation-delay: 1.6s;
}
.ScrollBtnMain {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 5vw;
  gap: 87vw;
  left: 4%;
  top: 70%;
  cursor: pointer;
  transition: hover 0.3s ease;
}
.ScrollBtn {
  position: absolute;
  height: 5vw;
}
.ScrollFilledBtn {
  position: absolute;
  height: 5vw;
  display: none;
}
.ScrollBtnFilledMain {
  flex-direction: row;
  position: relative;
  height: 5vw;
  gap: 80vw;
  left: 4%;
  top: 70%;
  cursor: pointer;
}
.ScrollBtnWrapper:hover .ScrollBtn {
  display: none;
}

.ScrollBtnWrapper:hover .ScrollFilledBtn {
  display: block;
}
/* animation for the scroll */

@keyframes slidUpFade {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
}