

.NavMain {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: transparent;
  position: fixed;
  background-color: transparent;
  z-index: 999;
  
}
.NavFirst {
  display: flex;
  flex-direction: row;
  padding: 2vh 1vw;
  align-items: center;
  gap: 0;
  justify-content: space-between;
  font-size: 2vh;
  width: 100%;
}
.NavSecBg{
 background-color: rgba(0, 0, 0, 0.7); 
  transition: background-color 0.3s ease;
  margin-top: 0;
}
.leftSide {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.RightSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vw;
}
.SiteName {
  display: flex;
  flex-direction: row;
}
.ContactNumber {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.MailId {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.HomeIcon {
  height: 2.5vh;
  width: 3vw;
}
.MapIcon {
  height: 2.5vh;
  width: 3vw;
}
.PhoneIcon {
  height: 2.5vh;
  width: 3vw;
}
.MailIcon {
  height: 2.5vh;
  width: 3vw;
}

.SiteName {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Logo {
  height: 7vw;
  width: 7vw;
  margin-left: 2vw;
  object-fit: cover;
}
.BrochureBtn {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid whitesmoke;
  width: 12vw;
  height: 6vh;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  background: transparent;
  margin-right: 2vw;
}

.BrochureBtn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: gold;
  transform: scaleX(0);
  transform-origin: bottom;
  transition: transform 0.4s ease;
  z-index: -1;
}
.BrochureBtn:hover::before {
  transform: scaleX(1);
}

.NavSecond {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2.3vh;
  justify-content: space-between;
  padding: 0vw;
  margin-right: 0;
}
.NavLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vw;
  white-space: nowrap;
  z-index: 1000;
}
.NavLinks li a {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  padding-bottom: 3px;
}

.NavLinks li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: gold;
  transition: width 0.3s ease;
}

.NavLinks li a:hover {
  color: gold;
}

.NavLinks li a:hover::after {
  width: 100%;
}
.MobileNavbar {
  display: none;
}

/* responsive mobile and tablet */
@media screen and (min-width: 200px) and (max-width: 615px) {
  html,
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
  }

  .NavMain {
    display: none;
  } 
  .MobileNavbar {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 0%;
  }
  .MobileHomeIcon {
    position: relative;
    left: 0%;
    top: 0%;
    z-index: 1;

    display: flex;
  }
  .HomeIconTwo {
 display: none;
  }

  .NavMeunContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60vw;
    justify-content: space-between;
    top: 30%;
    left: 4%;
    z-index: 999;
  }
  .MobileLogo {
    height: 13vh;
    width: 20vw;
    object-fit: cover;
  }
  .NavMenu {
    height: 5vh;
    width: 10vw;
  }
  .NavClose {
    height: 5vh;
    width: 10vw;
  }
  .NavListContainer {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    /* align-items: center; */
    width: 60%;
    height: 100vh;
    position: fixed;
    z-index: 2;
    font-size: 2vw;
    z-index: 999;
  }
  .LogoMobileList {
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .MobileLogoInside{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .NavLinksMobile {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    margin-left: 5vw;
    font-size: 0.8rem;
    
  
  }
  .HrMain{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .SiteNameMobile {
    display: flex;  
    flex-direction: row;
    gap: 3vw;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    
  }
  .MapIconMobile {
    height: 4vh;
    width: 4vw;
    margin-left: 7vw;
  
  }
  .ContactNumberMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
  }
  .PhoneIconMoible {
    display: flex;
    flex-direction: row;
     height: 4vh;
    width: 4vw;
    color: white;
  }
  .ContactMobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
  
  }
  
  .MailIdMobile {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    font-size: 0.8rem;
  }
  .MailIconMobile {
    height: 4vh;
    width: 4vw;
  }
  .DownloadMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    font-size: 0.6rem;
  }
  .BrochureBtnMobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    height: 5vh;
    width: 40vw;
  }
  .NavContaintWrapper {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    justify-content: center;
    align-items: center;  
  }

  .SiteaddressMobile {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }
}
/*responsive for 616 to 1024px  */
@media screen and (min-width: 616px) and (max-width: 1024px) {
  .NavFirst {
  padding: 2vh 2vw;
  align-items: center;
  justify-content: space-between;
  font-size: 2vh;
  width: 100%;
  white-space: nowrap;
  gap: 0;
}
.leftSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
}
.Logo {
  height: 10vw;
  width: 10vw;
  margin-left: 2vw;
  object-fit: cover;
}
.NavSecond {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2.3vh;
 justify-content: space-between;
  padding: 0vw;
  gap: 0;
  margin-right: 0;
  
}



}
