.Maincontainer {
  background-color: black;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.container {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 615px) {
  .container {
    flex-direction: column;
  }
} 
