
.mainleads {
  padding-left: 2vw;
  padding-top: 1vh;
  padding-bottom: 2vh;
}
.heading {
  color: white;
  font-weight: 600;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.leadsoverview {
  display: flex;
  flex-direction: row;
  gap: 1vh;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  border: 1px solid green;
  color: white;
  border-radius: 8px;
  padding: 2vh 2vw;
  color: white;
  font-weight: 600;
  width: 100%;
  gap: 1vh;
  transition: transform 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
}
.card:hover {
  transform: translateY(-6px);
}
.cardone {
  border-color: #0264cc;
  background-color: rgba(0, 123, 255, 0.1);
}
.cardtwo {
  border-color: #218839;
  background-color: rgba(0, 123, 255, 0.1);
}
.cardthree {
  border-color: #b02a37;
  background-color: rgba(220, 53, 69, 0.1);
}
.cardfour {
  border-color: #c69502;
  background-color: rgba(255, 193, 7, 0.1);
}
/* assign and feedback pending */
.assign {
  color: white;
  font-weight: 600;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.leadercontainer {
  display: flex;
  flex-direction: row;
  color: white;
}
.container {
  border-radius: 8px;
  border: none;
  background-color: #141414;
 
}
.leadername {
  font-size: 15px;
  border-bottom: 1px solid rgb(148, 147, 147);
  border-radius: 8px;
  padding-left: 10px;
  margin-bottom: 2vh;
  padding-top: 10px;
  padding-bottom: 5px;

  text-align: start;
  
}
.feedback {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  border-width: 1.5px;
  text-align: center;
  padding-left: 3vw;
  padding-right: 3vw;
  margin: 1vh;

}
.feedback:hover {
  background-color: rgba(255, 0, 0, 0.167);
  cursor: pointer;
}
.pending {
  border-color: green;
}

.pending:hover {
  background-color: rgba(0, 255, 13, 0.167);
  cursor: pointer;
}
.assignWrapper{
    display: flex;
    gap: 10px 10px;
    width: 50vw;

}
