body {
  font-family: Poppins, sans-serif;
  margin: 0;
}
/* Navbar */

.Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #000000;
  font: 12px;
  justify-content: space-between;
  height: 60px;
  padding: 0.6rem 0.7rem;
  color: #ffffffc9;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

/* Navbar-links */
.navlinks {
  display: flex;
  flex-direction: row;
  gap: 4vh;
}
.navlogo {
  height: 50px;
}
.navwork {
  display: flex;
  flex-direction: row;
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  font-size: 25px;
  margin: 0px 32px 0px 0px;
  cursor: pointer;
  transition: background-color 0.3 ease;
}
/*navbar logo */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  padding-left: 1.5rem;
}
.logoImage {
  height: auto;
  transition: transform var(--transition-fast);
  height: 5vh;
  transform: scale(1.2);
}
.logoImage:hover {
  transform: scale(1.02);
}

/*navbar element style*/
.navlinks li a {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 200;
  padding: 8px 12px;
  display: inline-block;
  transition: font-weight 0.2s ease;
}
.navlinks li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  font-weight: 500;
  background-color: white;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}
.navlinks li a:hover {
  font-weight: 700;
}

.navlinks li a:hover::after {
  width: 100%;
}

/*icons style*/

.tog .iconone {
  color: white;
  transition: color 0.3 ease;
}
.iconone:hover {
  color: #f1c40f;
}
.icontwo {
  color: white;
  transition: color 0.3 ease;
}
.icontwo:hover {
  color: #f1c40f;
}
/* navbar resoponsive */
/* initially hidden the home icon */
.HomeMenu {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}
.HomeNavbarLogo {
  display: none;
}
.MobileNavbarLogo {
  display: none;
}
/* mobile responsive  320*/

@media screen and (min-width: 50px) and (max-width: 600px) {
  .Navbar{
    height: 4vh;
  }
  .HomeMenu {
    display: block;
    margin-top: 0;
    padding-top: 0;
  }
  .navlinks {
    display: none;
    justify-content: flex-start;
    align-items: start;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    flex-direction: column;
    background-color: #141414;
    border-radius: 0 30px 30px 0;
    border-right: 5px solid #141414;
    color: #bebdbd;
    width: 15rem;
    height: 100vh;
    padding: 10px;
    z-index: 1000;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.4);
    padding: 0px 0px 0px 20px;
    gap: 10px;
  }
  .navlinks li {
    list-style: none;
    gap: 20px;
    padding: 0px 0px 0px 20px;
    font-size: 3vh;
  }

  .show {
    display: flex !important;
  }
  .logo {
    display: none;
  }
  .HomeNavbarLogo {
    display: block;
    margin-top: 5px;
    align-self: flex-end;
    padding-right: 2vw;
  }
  .MobileNavbarLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
    padding-left: 1.5rem;
  }
}
.icons {
  margin-right: 2px;
  gap: 3vw;
}
/* responsive for tablet and  laptop  */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .Navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #000000;
    font-size: 12px;
    justify-content: space-between;
    height: 60px;
    padding: 0.6rem 0.7rem;
    color: #ffffffc9;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  .navlinks {
    display: flex;
    flex-direction: row;
    gap: 0vh;
  }
  .navlogo {
    height: 50px;
  }
  .icons {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    font-size: 3vh;
    margin: 0px 32px 0px 0px;
    cursor: pointer;
    transition: background-color 0.3 ease;
  }
  /*navbar logo *
  /*navbar element style*/
  .navlinks li a {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 200;
    display: inline-block;
    transition: font-weight 0.2s ease;
  }

  /*icons style*/
  .icons {
    margin-right: 2px;
  }
}

/* responsive for 1025 to 1440 */
@media  screen and (min-width:1025px) and (max-width:1636px) {
  .Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #000000;
  font-size: 2.5vh;
  font-weight: 200;
  justify-content: space-between;
  height: 60px;
  padding: 0.6rem 0.7rem;
  color: #ffffffc9;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.icons{
  gap: 1vw;
} 
}
/* responsive for 1636 to 2560*/
@media screen and (min-width:1636) and (max-width:2560){
  .Navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #000000;
  font-size: 2.5vh;
  justify-content: space-between;
  height: 60px;
  padding: 0.6rem 0.7rem;
  color: #ffffffc9;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.logo img{
  width: 13vw;

}
.icons{
  gap: 1vw;
font-size: 4vh;

  
}
}


