.mainselect {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 20vw;
  color: #8e8d8d;
  border-right: 1px solid grey;
  border-radius: 20px;
  padding: 3vh 1vw;
  padding-bottom: 21vh;
  font-weight: 700;
}
.SelectHeader {
  font-weight: 700;
  font-size: 3vh;
}
.selectlinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.selectlinks a {
  background-color: #151515;
  color: #d1d5db;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  text-align: start;
  cursor: pointer;
  font-size: 2.5vh;
  margin: 2vh 0 0;
  display: block;
  width: 18vw;
  transition: background-color 0.3 ease;
}
.selectlinks a:hover {
  background-color: #2e2e2e;
}


/* mobile responsive */
@media screen and (min-width: 50px) and (max-width: 426px) {
  .mainselect {
    display: flex;
    flex-direction: row;
    border-right: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6vh;
    padding:  0;
    margin: 0;
    border-radius: 0;
    border-right: 0;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 60px;
    background-color: rgba(45, 44, 44, 0.185);
    
   
  }
  .selectlinks {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
    white-space: nowrap;

  }
  .selectlinks a {
    display: inline-flex;
    flex-direction: row;
     min-width: 10px;
     flex-wrap: wrap;
    font-size: 1.5vh;
    font-weight: 300;
    border: none;
    color: #898a8a;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: none;
    border: none;
    white-space: nowrap;
    width: auto;
  }
  .SelectHeader {
    display: none;
  }
}
/* responsive */
@media screen and (min-width: 376px) and (max-width: 600px) {
  .mainselect {
    display: flex;
    flex-direction: row;
    border-right: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8vh;
    padding:  0;
    margin: 0;
    border-radius: 0;
    border-right: 0;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 10px;
    background-color: rgba(45, 44, 44, 0.185);
    
   
  }
  .selectlinks {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4vw;
    white-space: nowrap;

  }
  .selectlinks a {
    display: inline-flex;
    flex-direction: row;
     min-width: 10px;
     flex-wrap: wrap;
    font-size: 1.7vh;
    font-weight: 300;
    border: none;
    color: #898a8a;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: none;
    border: none;
    white-space: nowrap;
    width: auto;
  }
  .SelectHeader {
    display: none;
  }
}
/*  */
@media screen and (min-width: 601px) and (max-width: 615px) {
  .mainselect {
    display: flex;
    flex-direction: row;
    border-right: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8vh;
    padding:  0;
    margin: 0;
    border-radius: 0;
    border-right: 0;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 30px;
    background-color: rgba(45, 44, 44, 0.185);
    
   
  }
  .selectlinks {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8vw;
    white-space: nowrap;

  }
  .selectlinks a {
    display: inline-flex;
    flex-direction: row;
     min-width: 10px;
     flex-wrap: wrap;
    font-size: 1.7vh;
    font-weight: 300;
    border: none;
    color: #898a8a;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: none;
    border: none;
    white-space: nowrap;
    width: auto;
  }
  .SelectHeader {
    display: none;
  }
}


