.mainselect {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  height: auto;
  width: 20vw;
  color: #8e8d8d;
  border-right: 1px solid grey;
  border-radius: 20px;
  padding: 3vh 1vw;
  padding-bottom: 21vh;
}
.selectlinks {
  display: flex;
  flex-direction: column;
  gap: 0.5px;
  
  justify-content: flex-start;
  align-items: stretch;
}
.selectlinks a {
  background-color: #151515;
  color: #d1d5db;
  width: 100%;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  text-align:start;
  cursor: pointer;
  font-size: 2.5vh;
  margin: 2vh 0 0;
  display: block;
  width: 15rem;
  transition: background-color 0.3 ease;
}
.selectlinks a:hover{
    background-color:#2e2e2e;
 
}
