.mainselect {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 20vw;
  color: #8e8d8d;
  border-right: 1px solid grey;
  border-radius: 20px;
  padding: 3vh 1vw;
  padding-bottom: 21vh;
  font-weight: 700;
}
.SelectHeader {
  font-weight: 700;
  font-size: 3vh;
}
.selectlinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.selectlinks a {
  background-color: #151515;
  color: #d1d5db;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  text-align: start;
  cursor: pointer;
  font-size: 2.5vh;
  margin: 2vh 0 0;
  display: block;
  width: 18vw;
  transition: background-color 0.3 ease;
}
.selectlinks a:hover {
  background-color: #2e2e2e;
}

/* mobile responsive */
@media screen and (min-width: 50px) and (max-width: 320px) {
  .mainselect {
    display: flex;
    flex-direction: row;
    border-right: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6vh;
    padding: 0.5vh 0;
    margin: 0;
    border-radius: 0;
    border-right: 0;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 35px;
    background-color: rgba(45, 44, 44, 0.185);
    
   
  }
  .selectlinks {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
    white-space: nowrap;

  }
  .selectlinks a {
    display: inline-flex;
     min-width: 10px;
     flex-wrap: wrap;
    font-size: 1.7vh;
    font-weight: 300;
    border: none;
    color: #898a8a;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: none;
    border: none;
    white-space: nowrap;
  }
  .SelectHeader {
    display: none;
  }
}
/* responsive 600 to 615px */
@media screen and (min-width: 600px) and (max-width: 615px) {
   .mainselect {
    display: flex;
    flex-direction: row;
    border-right: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6vh;
    padding: 0.5vh 0;
    margin: 0;
    border-radius: 0;
    border-right: 0;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 40px;
    background-color: rgba(45, 44, 44, 0.185);
  }
  .selectlinks {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1vw;
  }
  .selectlinks a {
    display: flex;
    gap: 1vw;

    font-size: 1.7vh;
    font-weight: 300;
    border: none;
    color: #898a8a;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: none;
    border: none;
  }
  .SelectHeader {
    display: none;
  }

}


/* medium size and large size mobile responsive 321 to 375  */

@media screen and (min-width: 321px) and (max-width: 375px) {
  .mainselect {
    display: flex;
    flex-direction: row;
    border-right: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6vh;
    padding: 0.5vh 0;
    margin: 0;
    border-radius: 0;
    border-right: 0;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 25px;
    background-color: rgba(45, 44, 44, 0.185);
  }
  .selectlinks {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1vw;
  }
  .selectlinks a {
    display: flex;
    gap: 1vw;

    font-size: 1.7vh;
    font-weight: 300;
    border: none;
    color: #898a8a;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: none;
    border: none;
  }
  .SelectHeader {
    display: none;
  }
}
/*  large size mobile responsive 376 to 422  */
@media screen and (min-width: 376px) and (max-width: 425px) {
  .mainselect {
    display: flex;
    flex-direction: row;
    border-right: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5%;
    padding: 0.5vh 0;
    margin: 0;
    border-radius: 0;
    border-right: 0;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 8px;
    background-color: rgba(45, 44, 44, 0.185);
  }
  .selectlinks {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1vw;
  }
  .selectlinks a {
    display: flex;
    gap: 1vw;

    font-size: 1.7vh;
    font-weight: 300;
    border: none;
    color: #898a8a;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: none;
    border: none;
  }
  .SelectHeader {
    display: none;
  }
}


/* responsive 426 to 598 */
@media screen and (min-width: 426px) and (max-width: 598px) {
  .mainselect {
    display: flex;
    flex-direction: row;
    border-right: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:4vh;
    padding: 0.5vh 0;
    margin: 0;
    border-radius: 0;
    border-right: 0;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 2px;
    background-color: rgba(45, 44, 44, 0.185);
  }
  .selectlinks {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1vw;
  }
  .selectlinks a {
    display: flex;
    gap: 1vw;
    font-size: 1.7vh;
    font-weight: 300;
    border: none;
    color: #898a8a;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: none;
    border: none;
  }
  .SelectHeader {
    display: none;
  }
}
/* responsive 598 to 615 */
@media screen and (min-width: 598px) and (max-width: 615px) {
  .mainselect {
    display: flex;
    flex-direction: row;
    border-right: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:4vh;
    padding: 0.5vh 0;
    margin: 0;
    border-radius: 0;
    border-right: 0;
    flex-wrap: wrap;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 30px;
    background-color: rgba(45, 44, 44, 0.185);
  }
  .selectlinks {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1vw;
  }
  .selectlinks a {
    display: flex;
    gap: 1vw;
    font-size: 1.7vh;
    font-weight: 300;
    border: none;
    color: #898a8a;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: none;
    border: none;
  }
  .SelectHeader {
    display: none;
  }
  .Icons{
    font-size: 20px;
  }
}
