.userglobal {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 10px;
  background-color: #000000;
  border-bottom: 1px solid grey;
  border-radius: 15px;
  justify-content: space-between;
}
.userpro {
  display: flex;
  align-items: center;
  gap: 0.5 px;
  padding-left: 1px;
  color: white;
  font-weight: 700;
}
.usericon {
  color: grey;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 2px;
  font-size: 70px;
}

.userinfo {
  display: flex;
  flex-direction: column;
}
.des {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.role {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #d3af1f;
  font-size: 10.92px;
  white-space: nowrap;
}

/*togged button and content*/

.toggedinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.userbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3 vh;
  font: 12.558px;
  width: fit-content;
  background-color: rgba(193, 193, 193, 0.16);
  color: rgb(193, 193, 193);
  border-radius: 8px;
  border: none;
  padding: 2vh 1vw;
  cursor: pointer;
  height: 3rem;
}
.usertog {
  color: #a1a1aa;
  font-size: 2vh;
  gap: 2vw;
  border-radius: 8px;
  border: none;
  background-color: rgba(193, 193, 193, 0.16);
  padding: 0.5vh 1vw;
  height: 4rem;
  margin-right: 1vw;
}
.FirstUserTog {
  display: flex;
  justify-content: space-between;
}
.toggedinfo {
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
}
.number {
  font-weight: 700;
  color: white;
  font-size: 1.5vw;
  padding-left: 0.5px;
}
#user {
  font-weight: 700;
}
.arrow {
  color: #22c55e;
  padding-left: 2px;
  font-weight: 700;
  font: bold;
}

.MobileBreakOne {
  display: none;
}
.MobileBreakTwo {
  display: none;
}
.MobileBreakThree {
  display: none;
}
/* resoponsive for mobile 100px to 375px*/

@media screen and (min-width: 50px) and (max-width: 375px) {
  .userglobal {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 10px;
    background-color: #000000;
    border-bottom: 1px solid grey;
    border-radius: 15px;
    justify-content: space-between;
    font-size: 12px;
    height: 60px;
    flex-wrap: wrap;
    border: none;
  }
  .userpro {
    display: flex;
    align-items: center;
    gap: 0.5 px;
    padding-left: 0;
    color: white;
    font-weight: 700;
  }
  .userinfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }
  .des {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .role {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #d3af1f;
    font-size: 10.92px;
  }
  .usertog {
    color: #a1a1aa;
    font-size: 10px;
    gap: 2vw;
    border-radius: 8px;
    border: none;
    background-color: rgba(193, 193, 193, 0.16);
    padding: 0.5vh 1vw;
    height: fit-content;
    margin-right: 1vw;
    flex-wrap: wrap;
  }
  .userbutton {
    display: none;
  }
  .number {
    font-size: 20px;
    font-weight: 700;
  }
}
/* responsive for 376px to 615px*/
@media screen and (min-width: 376px) and (max-width: 615px) {
  .userglobal {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 10px;
    background-color: #000000;
    border-bottom: 1px solid grey;
    border-radius: 15px;
    justify-content: space-between;
    font-size: 12px;
    height: 90px;
    flex-wrap: wrap;
    border: none;
  }
  .userpro {
    display: flex;
    align-items: center;
    gap: 0.5 px;
    padding-left: 0;
    color: white;
    font-weight: 700;
  }
  .userbutton {
    display: none;
  }
  .usertog {
    color: #a1a1aa;
    gap: 2vw;
    border-radius: 8px;
    border: none;
    background-color: rgba(193, 193, 193, 0.16);
    padding: 0.5vh 1vw;
    height: 50px;
    margin-right: 1vw;
    font-size: 12px;
  }
  .number {
    font-size: 15px;
  }
}

/* responsive 620px to 1440px */

@media screen and (min-width: 620px) and (max-width: 1440px) {
  .userglobal {
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    padding-left: 10px;
    background-color: #000000;
    border-bottom: 1px solid grey;
    border-radius: 15px;
    justify-content: space-between;
    font-size: 12px;
    height: 130px;
    flex-wrap: wrap;
    border-bottom: 1px solid grey;
  }
  .userbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3 vh;
    font: 12.558px;
    width: fit-content;
    background-color: rgba(193, 193, 193, 0.16);
    color: rgb(193, 193, 193);
    border-radius: 8px;
    border: none;
    padding: 2vh 1vw;
    cursor: pointer;
    height: 3rem;
  }
  .usertog {
    color: #a1a1aa;
    font-size: 12px;
    gap: 2vw;
    border-radius: 8px;
    border: none;
    background-color: rgba(193, 193, 193, 0.16);
    padding: 0.5vh 1vw;
    height: 60px;
    margin-right: 1vw;
  }
  .number {
    font-size: 17px;
  }
}

/* responsive for big screen 1441 to 1638 */

@media screen and (min-width: 1441px) and (max-width: 1638px) {
  .userglobal {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-left: 10px;
    background-color: #000000;
    border-bottom: 1px solid grey;
    border-radius: 15px;
    justify-content: space-between;
  }
  .userbutton {
    align-items: center;
    font-size: 2.3 vh;
    font: 12.558px;
    width: fit-content;
    background-color: rgba(193, 193, 193, 0.16);
    color: rgb(193, 193, 193);
    border-radius: 8px;
    border: none;
    padding: 2vh 1vw;
    cursor: pointer;
    height: 3rem;
    font-weight: 100;
  }
  .usertog {
    color: #a1a1aa;
    font-size: 2vh;
    gap: 2vw;
    border-radius: 8px;
    border: none;
    background-color: rgba(193, 193, 193, 0.16);
    padding: 0.5vh 1vw;
    height: 55px;
    margin-right: 1vw;
  }
  .FirstUserTog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .number {
    font-size: 17px;
  }
}

/* responsive for 4k 1639 to 2560px */
@media screen and (min-width: 1639px) and (max-width: 2560) {
  .userglobal {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 10px;
    background-color: #000000;
    border-bottom: 1px solid grey;
    border-radius: 15px;
    justify-content: space-between;
  }
  .userpro {
    display: flex;
    align-items: center;
    gap: 0.5 px;
    padding-left: 1px;
    color: white;
    font-weight: 700;
  }
  .usericon {
    color: grey;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 2px;
    font-size: 150px;
  }

  .role {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #d3af1f;
    font-size: 28px;
    white-space: nowrap;
  }
  .userinfo {
    display: flex;
    font-size: 30px;
    width: 100%;
  }
  .userbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: fit-content;
    background-color: rgba(193, 193, 193, 0.16);
    color: rgb(193, 193, 193);
    border-radius: 8px;
    border: none;
    padding: 2vh 1vw;
    cursor: pointer;
    height: 30px;
    font-weight: 200;
  }
  .usertog {
    color: #a1a1aa;
    font-size: 25px;
    gap: 2vw;
    border-radius: 8px;
    border: none;
    background-color: rgba(193, 193, 193, 0.16);
    padding: 0.5vh 1vw;
    height: 95px;
    margin-right: 1vw;
    width: auto;
  }
  .FirstUserTog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
/* responsive for  */
@media screen and (min-width: 600px) and (max-width: 620px) {
  .userglobal {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 10px;
    background-color: #000000;
    justify-content: space-between;
  }
    .usertog {
    color: #a1a1aa;
    font-size: 10px;
    gap: 2vw;
    border-radius: 8px;
    border: none;
    background-color: rgba(193, 193, 193, 0.16);
    padding: 0.5vh 1vw;
    height: 55px;
    margin-right: 1vw;
    width: 40%;
  }
  .userbutton{
    display: none;
  }
  .number{
    font-size: 20px;
  }
}

