
  .VisitWrapper {
  align-items: center;
  width: 100%;
  padding: 2vh 2vw;
  
}
.sectionHeader {
  color: #f5f5f5;
  font-weight: 600;
  margin-bottom: 2vh;
  font-size: 2.5vh;
}
.VisitContainer{
  display: flex;
  flex-direction:column;
  border-radius: 8px;
  background-color: #141414;
  align-items: center;
  justify-content: center;
  width: 60%;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2vh 2vw;
  position: relative;
  margin-left: 5vw;

}
.VisitInfo {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  text-align: center;
}

.OverviewStatus {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  align-items: center;
  margin-bottom: 2.5vh;
  font-size: 2vh;
  padding: 1vh;
  justify-content: center;
  text-align: center;
  gap: 1vw;
}
.percentage {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2px 6px;
  border-radius: 6px;
  font-size: 1.5vh;
}
.GreenDot {
  background-color: green;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  color: green;
  font-size: 1px;
}
.YellowDot {
  background-color: yellow;
  color: yellow;
  border-radius: 50%;
  font-size: 1px;
  height: 10px;
  width: 10px;
}
.RedDot {
  background-color: red;
  color: red;
  border-radius: 50%;
  font-size: 1px;
  height: 10px;
  width: 10px;
}

.VisitNumber{
  font-size: 15px;
}
.ViewVisit{
  font-size: 10px;
  padding-bottom: 2vh;
}
.TotalVisit{
  font-size: 10px;
}


/* responsive for mobile max width 425 */
@media screen and (max-width:615px) {
  .VisitContainer{
  display: flex;
  flex-direction:row;
  font-size: 1vw;
  border-radius: 8px;
  background-color: #141414;
  align-items: center;
  justify-content: center;
  width: 90%;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2vh 2vw;
  position: relative;
  
}
.OverviewStatus {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  align-items: center;
  margin-bottom: 1vh;
  font-size: 1vh;
  padding: 1vh;
  justify-content: center;
  text-align: center;
  gap: 1vw;
}
.GraphWrapper{
  height: 80px;
}
.VisitInfo{
  font-size: 10px;
}
}
/*  */
@media screen and (min-width:616px) and (max-width:1024px) {
  .VisitContainer{
  display: flex;
  flex-direction:column;
  border-radius: 8px;
  background-color: #141414;
  align-items: center;
  justify-content: center;
  width: 60%;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2vh 2vw;
  position: relative;
  margin-left: 5vw;
}
.OverviewStatus {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  align-items: center;
  margin-bottom: 2.5vh;
  font-size: 0.8vh;
  padding: 1vh;
  justify-content: center;
  text-align: center;
  gap: 1vw;
}
.GraphWrapper{
  height: 80px; 
}
.VisitInfo{
  font-size: 10px;
}
.sectionHeader {
  color: #f5f5f5;
  font-weight: 600;
  margin-bottom: 2vh;
  font-size: 2vh;
}

}
/*  */
@media screen and (min-width:1025px) and (max-width:1440px) {
.VisitContainer{
  display: flex;
  flex-direction:column;
  border-radius: 8px;
  background-color: #141414;
  align-items: center;
  justify-content: center;
  width: 70%;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2vh 2vw;
  position: relative;
  margin-left: 1vw;
}
.OverviewStatus {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  align-items: center;
  margin-bottom: 2.5vh;
  font-size: 1.7vh;
  padding: 1vh;
  justify-content: center;
  text-align: center;
  gap: 1vw;
}
.GraphWrapper{
  height: 80px;
}
.VisitInfo{
  font-size: 15px;
}


}
/*  */
@media screen and (min-width:1441px) and (max-width:2710px) {
  .VisitContainer{
  display: flex;
  flex-direction:column;
  border-radius: 8px;
  background-color: #141414;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2vh 2vw;
  position: relative;
  margin-left: 1vw;
}
.OverviewStatus {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  align-items: center;
  margin-bottom: 2.5vh;
  font-size: 1.7vh;
  padding: 1vh;
  justify-content: center;
  text-align: center;
  gap: 1vw;
}
.GraphWrapper{
  height: 80px;
}
.VisitInfo{
  font-size: 20px;
}
.VisitNumber{
  font-size: 20px;
}
.ViewVisit{
  font-size: 20px;
}

}
