
  .VisitWrapper {
  padding: 0;
  align-items: center;
  width: 17vw;
  padding: 2vh 2vw;
}
.sectionHeader {
  color: #f5f5f5;
  font-weight: 600;
  margin-bottom: 2vh;
  font-size: 2.5vh;
}
.VisitContainer{
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  background-color: #141414;
  align-items: center;
  justify-content: center;
  width: 17vw;
  color: white;
  height: auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2vh 2vw;
  position: relative;
}
.VisitInfo {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  text-align: center;
}

.OverviewStatus {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  align-items: center;
  margin-bottom: 2.5vh;
  font-size: 2vh;
  padding: 1vh;
}
.percentage {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2px 6px;
  border-radius: 6px;
  font-size: 1.5vh;
}
.GreenDot {
  background-color: green;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  color: green;
  font-size: 1px;
}
.YellowDot {
  background-color: yellow;
  color: yellow;
  border-radius: 50%;
  font-size: 1px;
  height: 10px;
  width: 10px;
}
.RedDot {
  background-color: red;
  color: red;
  border-radius: 50%;
  font-size: 1px;
  height: 10px;
  width: 10px;
}
.Graphsection {
  padding: 16px;
  border-radius: 12px;
  text-align: center;
  color: white;
  width: 100px;
    height: 100px;
}
.VisitNumber{
  font-size: 15px;
}
.ViewVisit{
  font-size: 10px;
}
.TotalVisit{
  font-size: 10px;
}
.GraphWithInfo{
  display: flex;
  flex-direction: column;
  gap: 5vh;
  margin-right: 10vw;
  height: 150px;
}
/* resoponsive for mobile 320px to 425 */

@media screen and (max-width:550px) {
 .VisitWrapper {
  padding: 0;
  align-items: center;
  width: 100%;
  padding: 2vh 2vw;
}
.sectionHeader {
  color: white;
  font-weight: 
  800;
  margin-bottom: 2vh;
  font-size: 2vh;
}
.VisitContainer {

  border-radius: 8px;
  background-color: #141414;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  height: auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2vh 2vw;
  position: relative;

}
.VisitInfo {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  text-align: center;
}
.OverviewStatus {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  align-items: center;
  margin-bottom: 1.5vw;
  font-size: 1.5vh;
  padding: 1vh;
  width: 100%;
}
.percentage {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2px 6px;
  border-radius: 6px;
  font-size: 1vh;
}
.GreenDot {
  background-color: green;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  color: green;
  font-size: 1px;
}
.YellowDot {
  background-color: yellow;
  color: yellow;
  border-radius: 50%;
  font-size: 1px;
  height: 10px;
  width: 10px;
}
.RedDot {
  background-color: red;
  color: red;
  border-radius: 50%;
  font-size: 1px;
  height: 10px;
  width: 10px;
}
.Graphsection{
  padding: 16px;
  border-radius: 12px;
  width: 150;
  height: 100px;
  text-align: center;
  color: white;
}
.VisitNumber{
  font-size: 10px;
  white-space: nowrap;
}
.TotalVisits{
  font-size: 2vw;
  white-space: nowrap;
}
.Approved{
  gap: 1vw;
}

}