.VisitWrapper {
  padding: 0;
  align-items: center;
  width: 17vw;
padding: 2vh 2vw;
}
.sectionHeader {
  color: #f5f5f5;
  font-weight: 600;
  margin-bottom: 2vh;
  font-size: 2.5vh;
}
.VisitContainer {
  border-radius: 8px;
  background-color: #141414;
  align-items: center;
  justify-content: center;
  width: 17vw;
  color: white;
  height: auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 2vh 2vw;
  position: relative;

}
.VisitInfo {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  text-align: center;
}

.OverviewStatus{
display: flex;
justify-content: space-between;
border-bottom: 1px solid rgba(255,255,255,.2);
border-radius: 8px;
align-items: center;
margin-bottom: 2.5vh;
font-size: 2vh;
padding: 1vh;
}
.percentage{
  background-color: rgba(255,255,255,.1);
  padding: 2px 6px;
  border-radius: 6px;
  font-size: 1.5vh; 


}
.GreenDot{
    background-color: green;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    color: green;
    font-size: 1px;
}
.YellowDot{
    background-color: yellow;
    color: yellow;
     border-radius: 50%;
    font-size: 1px;
      height: 10px;
    width: 10px;
}
.RedDot{
    background-color: red;
    color: red;
     border-radius: 50%;
    font-size: 1px;
      height: 10px;
    width: 10px;
}
.graphsection {
  background-color: #0f0f0f;
  padding: 16px;
  border-radius: 12px;
  width: 220px;
  text-align: center;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}



